@charset "UTF-8";
.fill--red {
  fill: #FF7F9E; }

.fill--orange {
  fill: #FFCE7F; }

.fill--yellow {
  fill: #FFFD7F; }

.fill--green {
  fill: #7FFFB9; }

.fill--blue {
  fill: #7FF6FF; }

.fill--purple {
  fill: #C496FF; }

.fill--black {
  fill: rgba(22, 32, 24, 0.8); }

.font-montserrat {
  font-family: Montserrat; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  color: rgba(22, 32, 24, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.serif {
  font-family: Times, 'Times New Roman', serif; }

*:focus {
  outline: none !important; }

h1, h2, h3, h4, h5 {
  font-family: Montserrat;
  font-weight: 700;
  /* letter-spacing: -0.05rem; */ }

h1, h2 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.1; }

.small-heading {
  font-size: 20px;
  font-size: 2rem;
  color: rgba(22, 32, 24, 0.4);
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

a {
  color: #5866FF;
  transition: all .2s ease-in-out; }
  a.link--padded {
    padding: 0.5rem 1rem; }
  a.nav-link {
    color: rgba(22, 32, 24, 0.8) !important;
    padding: 0.5rem 1rem; }
    a.nav-link:hover, a.nav-link:focus, a.nav-link:active {
      background: rgba(88, 102, 255, 0.05);
      border-radius: 0.5rem;
      color: #5866FF !important; }
  a.link--arrow:after {
    background-image: url("https://adamruf.com/images/2018-refresh/link-arrow.svg");
    background-repeat: no-repeat;
    content: "";
    color: rgba(88, 102, 255, 0.5);
    display: inline-block;
    height: 1.2rem;
    opacity: 0;
    padding-right: 3.3rem;
    transform: translateX(-1rem);
    transition: all .3s ease-in;
    width: 2rem; }
  a.link--arrow-green:after {
    background-image: url("https://adamruf.com/images/2018-refresh/green-arrow.svg"); }
  a:hover, a:active, a:focus {
    background: rgba(88, 102, 255, 0.05);
    border-radius: 0.5rem;
    border-bottom: 2px solid inherit;
    color: #5866FF;
    text-decoration: none;
    transition: all .3s ease-in; }
    a:hover.link--arrow:after, a:active.link--arrow:after, a:focus.link--arrow:after {
      opacity: 1;
      transform: translateX(1rem);
      transition: all .3s ease-out; }

.nav--active .nav-link {
  background: #727dff;
  border-radius: 0.5rem;
  color: #FFFFFF !important; }
  .nav--active .nav-link:hover, .nav--active .nav-link:active {
    background: #727dff;
    color: #FFFFFF !important; }
  .nav--active .nav-link:focus {
    background: #727dff;
    box-shadow: 0 0 3rem 1rem rgba(88, 102, 255, 0.15);
    color: #FFFFFF !important; }

.link--image {
  background: none !important; }
  .link--image:focus {
    box-shadow: none;
    outline: none;
    transform: scale(1.1);
    transition: all 1s ease-in-out; }
    .link--image:focus:after {
      border: none; }

.link--button:after {
  background-image: url("https://adamruf.com/images/2018-refresh/right-arrow.svg");
  background-repeat: no-repeat;
  content: "";
  color: rgba(22, 32, 24, 0.3);
  display: inline-block;
  height: 1.2rem;
  opacity: 1;
  transform: translateX(1rem);
  width: 2rem; }

.link--red {
  color: #ff4c77; }
  .link--red:hover, .link--red:focus, .link--red:active {
    background: rgba(255, 127, 158, 0.15);
    border-radius: 0;
    color: #ff4c77 !important; }

.link--orange {
  color: #ffba4c; }
  .link--orange:hover, .link--orange:focus, .link--orange:active {
    background: rgba(255, 206, 127, 0.15);
    border-radius: 0;
    color: #ffba4c !important; }

.link--yellow {
  color: #fffc4c; }
  .link--yellow:hover, .link--yellow:focus, .link--yellow:active {
    background: rgba(255, 253, 127, 0.15);
    border-radius: 0;
    color: #fffc4c !important; }

.link--green {
  color: #00e568; }
  .link--green:hover, .link--green:focus, .link--green:active {
    background: rgba(127, 255, 185, 0.15);
    border-radius: 0;
    color: #00e568 !important; }

.link--blue {
  color: #4cf2ff; }
  .link--blue:hover, .link--blue:focus, .link--blue:active {
    background: rgba(127, 246, 255, 0.15);
    border-radius: 0;
    color: #4cf2ff !important; }

.link--purple {
  color: #a763ff; }
  .link--purple:hover, .link--purple:focus, .link--purple:active {
    background: rgba(196, 150, 255, 0.15);
    border-radius: 0;
    color: #a763ff !important; }

.text--blurple {
  color: #727dff; }

.text--placeholder {
  color: rgba(22, 32, 24, 0.2); }

.text--red {
  color: #FF7F9E; }

.text--orange {
  color: #FFCE7F; }

.text--yellow {
  color: #FFFD7F; }

.text--green {
  color: #7FFFB9; }

.text--blue {
  color: #7FF6FF; }

.text--blurple {
  color: #727dff; }

.text--purple {
  color: #C496FF; }

.text--subtle {
  color: rgba(22, 32, 24, 0.4); }

.text-shadow--red {
  text-shadow: 0 2px 6px #D02045; }

.text-shadow--orange {
  text-shadow: 0 2px 6px #D07D20; }

.text-shadow--yellow {
  text-shadow: 0 2px 6px #FFEB4B; }

.text-shadow--green {
  text-shadow: 0 2px 6px #16C766; }

.text-shadow--blue {
  text-shadow: 0 2px 6px #16BCC5; }

.text-shadow--blurple {
  text-shadow: 0 2px 6px #727dff; }

.text-shadow--purple {
  text-shadow: 0 2px 6px #743EC5; }

/* TOP NAV */
.nav-icon {
  font-size: 2rem; }

/* READING PROGRESS BAR */
/* Lists */
.img-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.img-bullets--gem {
  background: url("https://adamruf.com/images/2018-refresh/bullet--gem.svg") no-repeat left top/19px 16px;
  height: 22px;
  line-height: 16px;
  padding-left: 20px; }

header {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Montserrat;
  font-weight: 700; }

header a {
  color: rgba(22, 32, 24, 0.8); }
  header a:hover, header a:focus, header a:active {
    color: #5866FF; }

.testimonial-message {
  font-size: 30px;
  font-size: 3rem;
  color: rgba(22, 32, 24, 0.7);
  font-family: Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  line-height: 1.1; }

.m-x-auto {
  margin-left: auto;
  margin-right: auto; }

.ar-input--text {
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
  color: #5866FF !important;
  font-size: 1.8rem;
  height: 57px;
  min-width: 35rem;
  border-radius: 0.4rem 0 0 0.4rem;
  padding: 1.5rem;
  transition: all 0.2s ease-in-out; }
  .ar-input--text:focus {
    border: 1px solid #FFFFFF !important;
    border-bottom: 4px solid rgba(114, 125, 255, 0.5) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11); }
  .ar-input--text::-webkit-input-placeholder, .ar-input--text::-moz-placeholder, .ar-input--text:-ms-input-placeholder {
    color: rgba(22, 32, 24, 0.2); }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  padding-top: 0.25rem; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(196, 150, 255, 0.5);
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1); }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: -11px;
  left: 5px;
  font-size: 4rem;
  color: #a763ff;
  line-height: 1;
  transition: all .2s ease-in-out;
  text-shadow: 1px 2px 2px rgba(22, 32, 24, 0.245); }

.check--water + label:after {
  content: '🚰' !important;
  position: absolute;
  left: -10px !important;
  top: -5px !important; }

.check--speak + label:after {
  content: '🗣️' !important;
  color: #a763ff;
  position: absolute;
  left: -5px !important;
  top: -8px !important; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

[type="checkbox"]:disabled:checked + label:after {
  color: #999; }

[type="checkbox"]:disabled + label {
  color: #aaa; }

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: 0 0 10px rgba(196, 150, 255, 0.5); }

/* hover style just for information */
label:hover:before {
  border: 3px solid #C496FF !important; }

.button {
  background-color: #F4F5F6;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
  color: rgba(22, 32, 24, 0.7) !important;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  /* min-width: 236px; */
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  transition: all 0.15s ease-in-out;
  white-space: nowrap; }
  .button:hover, .button:focus {
    background-color: #f7f8f8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 78, 93, 0.1);
    text-decoration: none;
    transform: translateY(-1px); }
  .button:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 78, 93, 0.1), 0 0 3rem 1rem rgba(88, 102, 255, 0.1); }
  .button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
    transform: translateY(1px); }
    .button:active:focus {
      transform: translateY(0px); }

.button--primary {
  background-color: #727dff;
  color: #fff !important;
  text-shadow: 0 1px 3px rgba(77, 90, 228, 0.44); }
  .button--primary:hover, .button--primary:focus {
    background-color: #7c86ff; }

.button--red {
  background-color: #FFBFCE;
  color: #FFFFFF !important;
  text-shadow: 0 1px 3px #D02045; }
  .button--red:hover, .button--red:focus {
    background-color: #ffc4d2; }
  .button--red:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 78, 93, 0.1), 0 0 3rem 1rem rgba(255, 127, 158, 0.1); }

.button--green {
  background-color: #BFFFDC;
  color: #FFFFFF !important;
  text-shadow: 0 1px 3px #16C766; }
  .button--green:hover, .button--green:focus {
    background-color: #75ffb3; }
  .button--green:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 78, 93, 0.1), 0 0 3rem 1rem rgba(127, 255, 185, 0.1); }

.nav-pills .nav-link {
  background: transparent;
  border: none;
  border-radius: 0.5rem !important;
  color: rgba(22, 32, 24, 0.7);
  padding: 1rem 1.5rem;
  transition: 0.15s ease; }
  .nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
    background: rgba(114, 125, 255, 0.1);
    color: #5866FF !important; }
  .nav-pills .nav-link.active {
    background: #727dff;
    color: white !important; }
    .nav-pills .nav-link.active:focus {
      box-shadow: 0 0 3rem 1rem rgba(88, 102, 255, 0.15); }

.ar-submit {
  border-radius: 0 0.5rem 0.5rem 0; }
  .ar-submit:hover {
    background: #7c86ff;
    transform: translateY(0); }
  .ar-submit:focus {
    transform: translateY(0); }

.cta-text {
  font-size: 18px;
  font-size: 1.8rem;
  color: rgba(22, 32, 24, 0.7); }

.ar-alert {
  background: #F4F5F6;
  border: 5px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
  color: rgba(22, 32, 24, 0.65);
  display: block;
  font-family: 'Montserrat';
  font-weight: 500;
  padding: 2rem;
  position: relative;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform; }
  .ar-alert:hover, .ar-alert:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 78, 93, 0.1);
    transform: translateY(-1px);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: transform; }
    .ar-alert:hover:after, .ar-alert:focus:after {
      opacity: 1; }

.ar-alert_icon {
  display: inline-block;
  font-size: 4rem;
  margin-right: 1.5rem;
  min-width: 4rem;
  vertical-align: top; }

.ar-alert_text {
  display: inline-block;
  margin: 0;
  max-width: 400px;
  width: 85%; }
  @media screen and (max-width: 426px) {
    .ar-alert_text {
      width: 75%; } }

.ar-bg--red {
  background: #FFECF1 !important; }
  .ar-bg--red:hover, .ar-bg--red:active, .ar-bg--red:focus {
    border-color: rgba(255, 127, 158, 0.1); }

.ar-bg--orange {
  background: #FFF8EC !important; }
  .ar-bg--orange:hover, .ar-bg--orange:active, .ar-bg--orange:focus {
    border-color: rgba(255, 206, 127, 0.1); }

.ar-bg--yellow {
  background: #FFFFEC !important; }
  .ar-bg--yellow:hover, .ar-bg--yellow:active, .ar-bg--yellow:focus {
    border-color: rgba(255, 235, 75, 0.25); }

.ar-bg--green {
  background: #ECFFF5 !important; }
  .ar-bg--green:hover, .ar-bg--green:active, .ar-bg--green:focus {
    border-color: rgba(127, 255, 185, 0.25); }

.ar-bg--blue {
  background: #ECFEFF !important; }
  .ar-bg--blue:hover, .ar-bg--blue:active, .ar-bg--blue:focus {
    border-color: rgba(127, 246, 255, 0.25); }

.ar-bg--purple {
  background: #F6F0FF !important; }
  .ar-bg--purple:hover, .ar-bg--purple:active, .ar-bg--purple:focus {
    border-color: rgba(196, 150, 255, 0.1); }

.ar-alert--sm {
  max-width: 50rem; }

.elevation-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11); }

.elevation-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 78, 93, 0.1); }

.elevation-3 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06), 0 15px 35px rgba(50, 78, 93, 0.09); }

.text-shadow-1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11); }

.svg-elevation-1 {
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.08)) drop-shadow(0 4px 6px rgba(50, 78, 93, 0.11)); }

.svg-elevation-2 {
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.07)) drop-shadow(0 15px 35px rgba(50, 78, 93, 0.1)); }

.svg-shadow--gem {
  -webkit-filter: drop-shadow(-5px 10px 14px rgba(0, 0, 0, 0.09)) drop-shadow(-15 60px 25px rgba(50, 78, 93, 0.1));
  filter: drop-shadow(-5px 10px 14px rgba(0, 0, 0, 0.09)) drop-shadow(-15px 60px 25px rgba(50, 78, 93, 0.1)); }

.no-overflow-x {
  overflow-x: hidden; }

.background-image {
  background-position: left top;
  background-size: cover; }

.background-image--curved-path-1 {
  background-image: url("https://adamruf.com/images/2018-refresh/curved-path-01.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain; }

.background-image--portfolio-reviews {
  background-image: url("../images/2018-refresh/portfolio-reviews@2x.png"); }

.background-image--ux-design-contest {
  background-image: url("../images/2018-refresh/ux-design-contest@2x.png"); }

.background-image--zero-to-portfolio {
  background-image: url("../images/2018-refresh/zero-to-portfolio@2x.png"); }

.background-image--digital-cartoons {
  background-image: url("../images/2018-refresh/digital-cartoons@2x.png"); }

.background-gradient {
  margin-bottom: 20rem;
  margin-top: -20rem;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2; }

.background-gradient--1 {
  background: linear-gradient(45deg, #ffceff 0%, #b2beff 100%);
  clip-path: polygon(0 calc(10% - 1vw), 100% 0, 100% calc(90% - 1vw), 0 100%); }

.background-gradient--2 {
  background: linear-gradient(45deg, #8295ff 0%, #83d3ff 100%);
  /* clip-path: url('/images/2018-refresh/wavy-clip-path.svg'); */
  clip-path: polygon(0 0, 5% 5%, 10% 0, 15% 5%, 20% 0, 25% 5%, 30% 0, 35% 5%, 40% 0, 45% 5%, 50% 0, 55% 5%, 60% 0, 65% 5%, 70% 0, 75% 5%, 80% 0, 85% 5%, 90% 0, 95% 5%, 100% 0, 100% 100%, 95% 95%, 90% 100%, 85% 95%, 80% 100%, 75% 95%, 70% 100%, 65% 95%, 60% 100%, 55% 95%, 50% 100%, 45% 95%, 40% 100%, 35% 95%, 30% 100%, 25% 95%, 20% 100%, 15% 95%, 10% 100%, 5% 95%, 0 100%);
  height: 700px;
  margin-top: 20rem;
  opacity: 0.1; }

.background-gradient--3 {
  background: #ECFFF5;
  background-image: linear-gradient(#ECFFF5, #CFFFE4);
  border-radius: 50% 50% 0 0;
  box-shadow: 0 -4rem 8rem #ECFFF5;
  height: 500px;
  margin-left: -15%;
  margin-right: -15%;
  top: 0;
  width: 130%; }

.background-gradient--4 {
  background: #BFA8FF;
  background-image: linear-gradient(#BFA8FF, #909AFF);
  border-radius: 50% 50% 0 0;
  bottom: 0;
  box-shadow: 0 -1rem 20rem #BFA8FF;
  height: 200px;
  margin-left: -15%;
  margin-right: -15%;
  width: 130%; }

.background-gradient--5 {
  background: linear-gradient(90deg, rgba(255, 253, 127, 0.5) 0%, rgba(127, 255, 185, 0.5) 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  height: 52rem; }

.fade {
  transition: opacity .3s ease-in-out; }

.fade-top {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left top, from(black), to(transparent)); }

.fade-bottom {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(black), to(transparent)); }

.opacity-100 {
  opacity: 1 !important; }

@keyframes opacity-wave {
  0%, 100% {
    opacity: 0.1; }
  50% {
    opacity: 0.25; } }

.opacity-wave--1 {
  animation: opacity-wave 5s infinite; }

.opacity-wave--2 {
  animation: opacity-wave 5s infinite 1s; }

.opacity-wave--3 {
  animation: opacity-wave 5s infinite 2s; }

/* BACKGROUNDS */
.background--red {
  background: #FF7F9E; }

.background--orange {
  background: #FFCE7F; }

.background--yellow {
  background: #FFFD7F; }

.background--green {
  background: #7FFFB9; }

.background--blue {
  background: #7FF6FF; }

.background--purple {
  background: #C496FF; }

.background--red-light {
  background: #FFBFCE; }

.background--orange-light {
  background: #FFE6BF; }

.background--yellow-light {
  background: #FFFEBF; }

.background--green-light {
  background: #BFFFDC; }

.background--blue-light {
  background: #BFFAFF; }

.background--purple-light {
  background: #E1CAFF; }

.background-pattern {
  height: 100%;
  width: 100%; }

.background-pattern--dots {
  background-image: url("https://adamruf.com/images/2018-refresh/dot-pattern.svg"); }

.background-pattern--emoji-hands {
  background-image: url("https://adamruf.com/images/2018-refresh/emoji-hands@2x.png");
  background-size: 540px;
  opacity: 0.25; }

.background-pattern--shapes {
  background-image: url("https://adamruf.com/images/2018-refresh/shape-pattern.svg"); }

.background-pattern--shapes-dots {
  background-image: url("https://adamruf.com/images/2018-refresh/shape-pattern.svg"), url("https://adamruf.com/images/2018-refresh/dot-pattern.svg"); }

.background-pattern--shapes-fade {
  background-image: url("https://adamruf.com/images/2018-refresh/fade-to-white.png"), url("https://adamruf.com/images/2018-refresh/shape-pattern-2.svg"); }

.background-pattern--dots {
  background-image: url("https://adamruf.com/images/2018-refresh/dot-pattern.svg"); }

.background-pattern--shapes {
  background-image: url("https://adamruf.com/images/2018-refresh/shape-pattern.svg"); }

.background-pattern--curved-path-1 {
  background-image: url("https://adamruf.com/images/2018-refresh/curved-path-01.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain; }

.background-pattern--purple-rocks-left {
  background-image: url("https://adamruf.com/images/2018-refresh/purple-rocks-left@2x.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 371px;
  bottom: 25rem;
  filter: drop-shadow(0 -1rem 15rem #C496FF);
  left: -10rem; }

.background-pattern--purple-rocks-right {
  background-image: url("https://adamruf.com/images/2018-refresh/purple-rocks-right@2x.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 385px;
  bottom: 25rem;
  filter: drop-shadow(0 -1rem 15rem #C496FF);
  right: -10rem; }

.background-pattern--low-poly {
  background-image: url("https://adamruf.com/images/2018-refresh/low-poly-pattern.svg"); }

.clip-path--2 {
  background: linear-gradient(45deg, #8295ff 0%, #83d3ff 100%);
  bottom: 0;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%; }

.clip-path--2__shadow-1 {
  background: linear-gradient(45deg, rgba(130, 149, 255, 0.1) 0%, rgba(131, 211, 255, 0.1) 100%);
  bottom: 3rem;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%; }

.background-image--shapes-1 {
  background-image: url("https://adamruf.com/images/2018-refresh/shape-pattern.svg");
  background-position: left top;
  background-repeat: repeat;
  background-size: cover; }

.img--intro-video {
  transition: all 0.5s ease-in-out; }

.img--intro-video:hover {
  transform: scale(1.1) rotate(-5deg); }

.ar-card {
  background: #FFFFFF;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  transition: all 0.3s ease-in-out; }

.ar-card--sm {
  min-height: 300px;
  max-width: 350px;
  width: 350px; }

.ar-card--md {
  min-height: 390px;
  max-width: 500px;
  width: 500px; }

.ar-card--project .ar-card__body {
  min-height: 158px; }

.ar-card--project:hover, .ar-card--project:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06), 0 15px 35px rgba(50, 78, 93, 0.09);
  transform: translateY(-5px); }

.ar-card--project:focus.ar-card--red {
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 191, 206, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 191, 206, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 191, 206, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 191, 206, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%); }

.ar-card--project:focus.ar-card--yellow {
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 254, 191, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 254, 191, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 254, 191, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 254, 191, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%); }

.ar-card--project:focus.ar-card--green {
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(bottom, rgba(191, 255, 220, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, rgba(191, 255, 220, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, rgba(191, 255, 220, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -o-linear-gradient(bottom, rgba(191, 255, 220, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%); }

.ar-card--project:focus.ar-card--blue {
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(bottom, rgba(191, 250, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, rgba(191, 250, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, rgba(191, 250, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -o-linear-gradient(bottom, rgba(191, 250, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%); }

.ar-card--project:focus.ar-card--purple {
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(bottom, rgba(225, 202, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -moz-linear-gradient(bottom, rgba(225, 202, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(bottom, rgba(225, 202, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%);
  background-image: -o-linear-gradient(bottom, rgba(225, 202, 255, 0.4) 0%, #FFFFFF 25%, #FFFFFF 100%); }

.right-arrow:after {
  background-image: url("https://adamruf.com/images/2018-refresh/right-arrow.svg");
  background-repeat: no-repeat;
  content: "";
  color: rgba(22, 32, 24, 0.3);
  display: inline-block;
  height: 1.2rem;
  opacity: 0;
  transform: translateX(-1rem);
  transition: all .3s ease-in;
  width: 2rem; }

.ar-card--link:hover, .ar-card--link:focus {
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06), 0 15px 35px rgba(50, 78, 93, 0.09);
  color: rgba(22, 32, 24, 0.3);
  text-decoration: none;
  transform: translateY(-5px); }
  .ar-card--link:hover .right-arrow:after, .ar-card--link:focus .right-arrow:after {
    opacity: 1;
    transform: translateX(0.5rem); }

.ar-card--link:focus.ar-card--link-red {
  background: #FFBFCE; }

.ar-card--link:focus.ar-card--link-yellow {
  background: #FFFEBF; }

.ar-card--link:focus.ar-card--link-green {
  background: #BFFFDC; }

.ar-card--link:focus.ar-card--link-blue {
  background: #BFFAFF; }

.ar-card__body {
  color: rgba(22, 32, 24, 0.8);
  text-align: left;
  transition: all 0.3s ease-in-out; }

.ar-transparent-gray-text {
  color: rgba(22, 32, 24, 0.65); }

.ar-card__heading,
.modal-title {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.15; }

/* MODALS */
.modal-backdrop {
  background: rgba(22, 32, 24, 0.6); }

.modal-title {
  max-width: 90%; }

.modal-content {
  background: #FFFFFF;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05), 0 30px 70px rgba(50, 78, 93, 0.08); }

.modal-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; }

.modal-body {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.modal-body__text {
  color: rgba(22, 32, 24, 0.7);
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 2rem; }

.modal-image--xs {
  width: 100px; }

.modal-close {
  font-size: 4rem; }

.close {
  opacity: 0.4; }

.modal-close--red {
  color: #FF7F9E; }
  .modal-close--red:hover, .modal-close--red:focus {
    color: #FF7F9E; }

.modal-close--green {
  color: #4cff9d; }
  .modal-close--green:hover, .modal-close--green:focus {
    color: #4cff9d; }

.modal-close--purple {
  color: #C496FF; }
  .modal-close--purple:hover, .modal-close--purple:focus {
    color: #C496FF; }

.modal-header .close {
  margin: -1.5rem -1rem -1.5rem auto; }

/* FIGURES */
.figure-image {
  border-radius: 4rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 78, 93, 0.1);
  max-width: 400px;
  width: 100%; }

.figure-caption {
  background: rgba(22, 32, 24, 0.05);
  border-radius: 1rem;
  color: rgba(22, 32, 24, 0.7);
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 400px;
  padding: 0.5rem 1rem; }

/* ICONS */
.ar-icon {
  display: inline-block; }

.ar-icon--red {
  color: #FF7F9E; }

.ar-icon--orange {
  color: #FFCE7F; }

.ar-icon--gold {
  color: #FFEB4B; }

.ar-icon--yellow {
  color: #FFEB4B; }

.ar-icon--green {
  color: #7FFFB9; }

.ar-icon--blue {
  color: #7FF6FF; }

.ar-icon--purple {
  color: #C496FF; }

.ar-icon--lg {
  font-size: 4rem;
  min-width: 5rem; }

.ar-icon--xl {
  font-size: 5rem;
  min-width: 6rem; }

/* TODO Create a SASS Helpers loop for generating borders */
.border-b-red:after {
  content: "";
  background: -webkit-linear-gradient(left, #FFBFCE 0%, #FF7F9E 33%, #FF7F9E 66%, #FFBFCE 100%);
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0; }

.border-b-orange:after {
  content: "";
  background: -webkit-linear-gradient(left, #FFE6BF 0%, #FFCE7F 33%, #FFCE7F 66%, #FFE6BF 100%);
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0; }

.border-b-yellow:after {
  content: "";
  background: -webkit-linear-gradient(left, #FFFEBF 0%, #FFFD7F 33%, #FFFD7F 66%, #FFFEBF 100%);
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0; }

.border-b-green:after {
  content: "";
  background: -webkit-linear-gradient(left, #BFFFDC 0%, #7FFFB9 33%, #7FFFB9 66%, #BFFFDC 100%);
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0; }

.border-b-blue:after {
  content: "";
  background: -webkit-linear-gradient(left, #BFFAFF 0%, #7FF6FF 33%, #7FF6FF 66%, #BFFAFF 100%);
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0; }

.border-b-purple:after {
  content: "";
  background: -webkit-linear-gradient(left, #E1CAFF 0%, #C496FF 33%, #C496FF 66%, #E1CAFF 100%);
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0; }

/* Styles that allow top nav to scroll */
@media (max-width: 500px) {
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem; }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; }
  .fade-out--left:before {
    content: '';
    width: 2rem;
    height: 100%;
    position: absolute;
    left: 6rem;
    bottom: 0;
    background: linear-gradient(to right, white, transparent 20px); }
  .fade-out--right:before {
    content: '';
    width: 2rem;
    height: 100%;
    position: absolute;
    right: 6rem;
    bottom: 0;
    background: linear-gradient(to left, white, transparent 20px); }
  .background-gradient--2 {
    clip-path: polygon(0 0, 10% 5%, 20% 0, 30% 5%, 40% 0, 50% 5%, 60% 0, 70% 5%, 80% 0, 90% 5%, 100% 0, 100% 100%, 90% 95%, 80% 100%, 70% 95%, 60% 100%, 50% 95%, 40% 100%, 30% 95%, 20% 100%, 10% 95%, 0 100%); } }

.donger {
  font-size: 10rem;
  left: calc(50% - 300px);
  top: 28rem; }
  @media screen and (max-width: 991px) {
    .donger {
      top: 33rem; } }
  @media screen and (max-width: 453px) {
    .donger {
      top: 37rem; } }
  @media screen and (max-width: 447px) {
    .donger {
      top: 39rem; } }

.m-t-0 {
  margin-top: 0rem !important; }

.p-t-0 {
  padding-top: 0rem !important; }

.m-b-0 {
  margin-bottom: 0rem !important; }

.p-b-0 {
  padding-bottom: 0rem !important; }

.m-l-0 {
  margin-left: 0rem !important; }

.p-l-0 {
  padding-left: 0rem !important; }

.m-r-0 {
  margin-right: 0rem !important; }

.p-r-0 {
  padding-right: 0rem !important; }

.m-0 {
  margin: 0rem !important; }

.p-0 {
  padding: 0rem !important; }

.m-x-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important; }

.p-x-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important; }

.m-y-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important; }

.p-y-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }

.m-t-1 {
  margin-top: 1rem !important; }

.p-t-1 {
  padding-top: 1rem !important; }

.m-b-1 {
  margin-bottom: 1rem !important; }

.p-b-1 {
  padding-bottom: 1rem !important; }

.m-l-1 {
  margin-left: 1rem !important; }

.p-l-1 {
  padding-left: 1rem !important; }

.m-r-1 {
  margin-right: 1rem !important; }

.p-r-1 {
  padding-right: 1rem !important; }

.m-1 {
  margin: 1rem !important; }

.p-1 {
  padding: 1rem !important; }

.m-x-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important; }

.p-x-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.m-t-2 {
  margin-top: 2rem !important; }

.p-t-2 {
  padding-top: 2rem !important; }

.m-b-2 {
  margin-bottom: 2rem !important; }

.p-b-2 {
  padding-bottom: 2rem !important; }

.m-l-2 {
  margin-left: 2rem !important; }

.p-l-2 {
  padding-left: 2rem !important; }

.m-r-2 {
  margin-right: 2rem !important; }

.p-r-2 {
  padding-right: 2rem !important; }

.m-2 {
  margin: 2rem !important; }

.p-2 {
  padding: 2rem !important; }

.m-x-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important; }

.p-x-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important; }

.m-y-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.p-y-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.m-t-3 {
  margin-top: 3rem !important; }

.p-t-3 {
  padding-top: 3rem !important; }

.m-b-3 {
  margin-bottom: 3rem !important; }

.p-b-3 {
  padding-bottom: 3rem !important; }

.m-l-3 {
  margin-left: 3rem !important; }

.p-l-3 {
  padding-left: 3rem !important; }

.m-r-3 {
  margin-right: 3rem !important; }

.p-r-3 {
  padding-right: 3rem !important; }

.m-3 {
  margin: 3rem !important; }

.p-3 {
  padding: 3rem !important; }

.m-x-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important; }

.p-x-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important; }

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.m-t-4 {
  margin-top: 4rem !important; }

.p-t-4 {
  padding-top: 4rem !important; }

.m-b-4 {
  margin-bottom: 4rem !important; }

.p-b-4 {
  padding-bottom: 4rem !important; }

.m-l-4 {
  margin-left: 4rem !important; }

.p-l-4 {
  padding-left: 4rem !important; }

.m-r-4 {
  margin-right: 4rem !important; }

.p-r-4 {
  padding-right: 4rem !important; }

.m-4 {
  margin: 4rem !important; }

.p-4 {
  padding: 4rem !important; }

.m-x-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important; }

.p-x-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important; }

.m-y-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important; }

.p-y-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.m-t-5 {
  margin-top: 5rem !important; }

.p-t-5 {
  padding-top: 5rem !important; }

.m-b-5 {
  margin-bottom: 5rem !important; }

.p-b-5 {
  padding-bottom: 5rem !important; }

.m-l-5 {
  margin-left: 5rem !important; }

.p-l-5 {
  padding-left: 5rem !important; }

.m-r-5 {
  margin-right: 5rem !important; }

.p-r-5 {
  padding-right: 5rem !important; }

.m-5 {
  margin: 5rem !important; }

.p-5 {
  padding: 5rem !important; }

.m-x-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important; }

.p-x-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important; }

.m-y-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important; }

.p-y-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.m-t-6 {
  margin-top: 6rem !important; }

.p-t-6 {
  padding-top: 6rem !important; }

.m-b-6 {
  margin-bottom: 6rem !important; }

.p-b-6 {
  padding-bottom: 6rem !important; }

.m-l-6 {
  margin-left: 6rem !important; }

.p-l-6 {
  padding-left: 6rem !important; }

.m-r-6 {
  margin-right: 6rem !important; }

.p-r-6 {
  padding-right: 6rem !important; }

.m-6 {
  margin: 6rem !important; }

.p-6 {
  padding: 6rem !important; }

.m-x-6 {
  margin-left: 6rem !important;
  margin-right: 6rem !important; }

.p-x-6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important; }

.m-y-6 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important; }

.p-y-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important; }

.m-t-7 {
  margin-top: 7rem !important; }

.p-t-7 {
  padding-top: 7rem !important; }

.m-b-7 {
  margin-bottom: 7rem !important; }

.p-b-7 {
  padding-bottom: 7rem !important; }

.m-l-7 {
  margin-left: 7rem !important; }

.p-l-7 {
  padding-left: 7rem !important; }

.m-r-7 {
  margin-right: 7rem !important; }

.p-r-7 {
  padding-right: 7rem !important; }

.m-7 {
  margin: 7rem !important; }

.p-7 {
  padding: 7rem !important; }

.m-x-7 {
  margin-left: 7rem !important;
  margin-right: 7rem !important; }

.p-x-7 {
  padding-left: 7rem !important;
  padding-right: 7rem !important; }

.m-y-7 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important; }

.p-y-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important; }

.m-t-8 {
  margin-top: 8rem !important; }

.p-t-8 {
  padding-top: 8rem !important; }

.m-b-8 {
  margin-bottom: 8rem !important; }

.p-b-8 {
  padding-bottom: 8rem !important; }

.m-l-8 {
  margin-left: 8rem !important; }

.p-l-8 {
  padding-left: 8rem !important; }

.m-r-8 {
  margin-right: 8rem !important; }

.p-r-8 {
  padding-right: 8rem !important; }

.m-8 {
  margin: 8rem !important; }

.p-8 {
  padding: 8rem !important; }

.m-x-8 {
  margin-left: 8rem !important;
  margin-right: 8rem !important; }

.p-x-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important; }

.m-y-8 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important; }

.p-y-8 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important; }

.m-t-9 {
  margin-top: 9rem !important; }

.p-t-9 {
  padding-top: 9rem !important; }

.m-b-9 {
  margin-bottom: 9rem !important; }

.p-b-9 {
  padding-bottom: 9rem !important; }

.m-l-9 {
  margin-left: 9rem !important; }

.p-l-9 {
  padding-left: 9rem !important; }

.m-r-9 {
  margin-right: 9rem !important; }

.p-r-9 {
  padding-right: 9rem !important; }

.m-9 {
  margin: 9rem !important; }

.p-9 {
  padding: 9rem !important; }

.m-x-9 {
  margin-left: 9rem !important;
  margin-right: 9rem !important; }

.p-x-9 {
  padding-left: 9rem !important;
  padding-right: 9rem !important; }

.m-y-9 {
  margin-top: 9rem !important;
  margin-bottom: 9rem !important; }

.p-y-9 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important; }

.m-t-10 {
  margin-top: 10rem !important; }

.p-t-10 {
  padding-top: 10rem !important; }

.m-b-10 {
  margin-bottom: 10rem !important; }

.p-b-10 {
  padding-bottom: 10rem !important; }

.m-l-10 {
  margin-left: 10rem !important; }

.p-l-10 {
  padding-left: 10rem !important; }

.m-r-10 {
  margin-right: 10rem !important; }

.p-r-10 {
  padding-right: 10rem !important; }

.m-10 {
  margin: 10rem !important; }

.p-10 {
  padding: 10rem !important; }

.m-x-10 {
  margin-left: 10rem !important;
  margin-right: 10rem !important; }

.p-x-10 {
  padding-left: 10rem !important;
  padding-right: 10rem !important; }

.m-y-10 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important; }

.p-y-10 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important; }

.m-t-20 {
  margin-top: 20rem !important; }

.p-t-20 {
  padding-top: 20rem !important; }

.m-b-20 {
  margin-bottom: 20rem !important; }

.p-b-20 {
  padding-bottom: 20rem !important; }

.m-l-20 {
  margin-left: 20rem !important; }

.p-l-20 {
  padding-left: 20rem !important; }

.m-r-20 {
  margin-right: 20rem !important; }

.p-r-20 {
  padding-right: 20rem !important; }

.m-20 {
  margin: 20rem !important; }

.p-20 {
  padding: 20rem !important; }

.m-x-20 {
  margin-left: 20rem !important;
  margin-right: 20rem !important; }

.p-x-20 {
  padding-left: 20rem !important;
  padding-right: 20rem !important; }

.m-y-20 {
  margin-top: 20rem !important;
  margin-bottom: 20rem !important; }

.p-y-20 {
  padding-top: 20rem !important;
  padding-bottom: 20rem !important; }

.m-t-30 {
  margin-top: 30rem !important; }

.p-t-30 {
  padding-top: 30rem !important; }

.m-b-30 {
  margin-bottom: 30rem !important; }

.p-b-30 {
  padding-bottom: 30rem !important; }

.m-l-30 {
  margin-left: 30rem !important; }

.p-l-30 {
  padding-left: 30rem !important; }

.m-r-30 {
  margin-right: 30rem !important; }

.p-r-30 {
  padding-right: 30rem !important; }

.m-30 {
  margin: 30rem !important; }

.p-30 {
  padding: 30rem !important; }

.m-x-30 {
  margin-left: 30rem !important;
  margin-right: 30rem !important; }

.p-x-30 {
  padding-left: 30rem !important;
  padding-right: 30rem !important; }

.m-y-30 {
  margin-top: 30rem !important;
  margin-bottom: 30rem !important; }

.p-y-30 {
  padding-top: 30rem !important;
  padding-bottom: 30rem !important; }

.m-t-40 {
  margin-top: 40rem !important; }

.p-t-40 {
  padding-top: 40rem !important; }

.m-b-40 {
  margin-bottom: 40rem !important; }

.p-b-40 {
  padding-bottom: 40rem !important; }

.m-l-40 {
  margin-left: 40rem !important; }

.p-l-40 {
  padding-left: 40rem !important; }

.m-r-40 {
  margin-right: 40rem !important; }

.p-r-40 {
  padding-right: 40rem !important; }

.m-40 {
  margin: 40rem !important; }

.p-40 {
  padding: 40rem !important; }

.m-x-40 {
  margin-left: 40rem !important;
  margin-right: 40rem !important; }

.p-x-40 {
  padding-left: 40rem !important;
  padding-right: 40rem !important; }

.m-y-40 {
  margin-top: 40rem !important;
  margin-bottom: 40rem !important; }

.p-y-40 {
  padding-top: 40rem !important;
  padding-bottom: 40rem !important; }

.m-t-50 {
  margin-top: 50rem !important; }

.p-t-50 {
  padding-top: 50rem !important; }

.m-b-50 {
  margin-bottom: 50rem !important; }

.p-b-50 {
  padding-bottom: 50rem !important; }

.m-l-50 {
  margin-left: 50rem !important; }

.p-l-50 {
  padding-left: 50rem !important; }

.m-r-50 {
  margin-right: 50rem !important; }

.p-r-50 {
  padding-right: 50rem !important; }

.m-50 {
  margin: 50rem !important; }

.p-50 {
  padding: 50rem !important; }

.m-x-50 {
  margin-left: 50rem !important;
  margin-right: 50rem !important; }

.p-x-50 {
  padding-left: 50rem !important;
  padding-right: 50rem !important; }

.m-y-50 {
  margin-top: 50rem !important;
  margin-bottom: 50rem !important; }

.p-y-50 {
  padding-top: 50rem !important;
  padding-bottom: 50rem !important; }

.m-t-60 {
  margin-top: 60rem !important; }

.p-t-60 {
  padding-top: 60rem !important; }

.m-b-60 {
  margin-bottom: 60rem !important; }

.p-b-60 {
  padding-bottom: 60rem !important; }

.m-l-60 {
  margin-left: 60rem !important; }

.p-l-60 {
  padding-left: 60rem !important; }

.m-r-60 {
  margin-right: 60rem !important; }

.p-r-60 {
  padding-right: 60rem !important; }

.m-60 {
  margin: 60rem !important; }

.p-60 {
  padding: 60rem !important; }

.m-x-60 {
  margin-left: 60rem !important;
  margin-right: 60rem !important; }

.p-x-60 {
  padding-left: 60rem !important;
  padding-right: 60rem !important; }

.m-y-60 {
  margin-top: 60rem !important;
  margin-bottom: 60rem !important; }

.p-y-60 {
  padding-top: 60rem !important;
  padding-bottom: 60rem !important; }

.m-t-70 {
  margin-top: 70rem !important; }

.p-t-70 {
  padding-top: 70rem !important; }

.m-b-70 {
  margin-bottom: 70rem !important; }

.p-b-70 {
  padding-bottom: 70rem !important; }

.m-l-70 {
  margin-left: 70rem !important; }

.p-l-70 {
  padding-left: 70rem !important; }

.m-r-70 {
  margin-right: 70rem !important; }

.p-r-70 {
  padding-right: 70rem !important; }

.m-70 {
  margin: 70rem !important; }

.p-70 {
  padding: 70rem !important; }

.m-x-70 {
  margin-left: 70rem !important;
  margin-right: 70rem !important; }

.p-x-70 {
  padding-left: 70rem !important;
  padding-right: 70rem !important; }

.m-y-70 {
  margin-top: 70rem !important;
  margin-bottom: 70rem !important; }

.p-y-70 {
  padding-top: 70rem !important;
  padding-bottom: 70rem !important; }

.m-t-80 {
  margin-top: 80rem !important; }

.p-t-80 {
  padding-top: 80rem !important; }

.m-b-80 {
  margin-bottom: 80rem !important; }

.p-b-80 {
  padding-bottom: 80rem !important; }

.m-l-80 {
  margin-left: 80rem !important; }

.p-l-80 {
  padding-left: 80rem !important; }

.m-r-80 {
  margin-right: 80rem !important; }

.p-r-80 {
  padding-right: 80rem !important; }

.m-80 {
  margin: 80rem !important; }

.p-80 {
  padding: 80rem !important; }

.m-x-80 {
  margin-left: 80rem !important;
  margin-right: 80rem !important; }

.p-x-80 {
  padding-left: 80rem !important;
  padding-right: 80rem !important; }

.m-y-80 {
  margin-top: 80rem !important;
  margin-bottom: 80rem !important; }

.p-y-80 {
  padding-top: 80rem !important;
  padding-bottom: 80rem !important; }

.m-t-90 {
  margin-top: 90rem !important; }

.p-t-90 {
  padding-top: 90rem !important; }

.m-b-90 {
  margin-bottom: 90rem !important; }

.p-b-90 {
  padding-bottom: 90rem !important; }

.m-l-90 {
  margin-left: 90rem !important; }

.p-l-90 {
  padding-left: 90rem !important; }

.m-r-90 {
  margin-right: 90rem !important; }

.p-r-90 {
  padding-right: 90rem !important; }

.m-90 {
  margin: 90rem !important; }

.p-90 {
  padding: 90rem !important; }

.m-x-90 {
  margin-left: 90rem !important;
  margin-right: 90rem !important; }

.p-x-90 {
  padding-left: 90rem !important;
  padding-right: 90rem !important; }

.m-y-90 {
  margin-top: 90rem !important;
  margin-bottom: 90rem !important; }

.p-y-90 {
  padding-top: 90rem !important;
  padding-bottom: 90rem !important; }

.m-t-100 {
  margin-top: 100rem !important; }

.p-t-100 {
  padding-top: 100rem !important; }

.m-b-100 {
  margin-bottom: 100rem !important; }

.p-b-100 {
  padding-bottom: 100rem !important; }

.m-l-100 {
  margin-left: 100rem !important; }

.p-l-100 {
  padding-left: 100rem !important; }

.m-r-100 {
  margin-right: 100rem !important; }

.p-r-100 {
  padding-right: 100rem !important; }

.m-100 {
  margin: 100rem !important; }

.p-100 {
  padding: 100rem !important; }

.m-x-100 {
  margin-left: 100rem !important;
  margin-right: 100rem !important; }

.p-x-100 {
  padding-left: 100rem !important;
  padding-right: 100rem !important; }

.m-y-100 {
  margin-top: 100rem !important;
  margin-bottom: 100rem !important; }

.p-y-100 {
  padding-top: 100rem !important;
  padding-bottom: 100rem !important; }

.m-t-05 {
  margin-top: 0.5rem !important; }

.p-t-05 {
  padding-top: 0.5rem !important; }

.m-b-05 {
  margin-bottom: 0.5rem !important; }

.p-b-05 {
  padding-bottom: 0.5rem !important; }

.m-l-05 {
  margin-left: 0.5rem !important; }

.p-l-05 {
  padding-left: 0.5rem !important; }

.m-r-05 {
  margin-right: 0.5rem !important; }

.p-r-05 {
  padding-right: 0.5rem !important; }

.m-05 {
  margin: 0.5rem !important; }

.p-05 {
  padding: 0.5rem !important; }

.m-x-05 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important; }

.p-x-05 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important; }

.m-y-05 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.p-y-05 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

/* From animate.css by Daniel Eden -- https://daneden.github.io/animate.css/ */
.animated--1 {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated--3 {
  -webkit-animation-duration: 3.3s;
  animation-duration: 3.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated--5 {
  -webkit-animation-duration: 5.5s;
  animation-duration: 5.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated--10 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.infinite {
  animation-iteration-count: infinite; }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    transform: scale3d(0.9, 0.9, 0.9); }
  25% {
    transform: scale3d(1.1, 1.1, 1.1); }
  50% {
    transform: scale3d(0.9, 0.9, 0.9); }
  75% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    transform: scale3d(0.9, 0.9, 0.9); } }

.bounceIn {
  animation-name: bounceIn; }

@keyframes float {
  from {
    transform: translateY(1rem); }
  50% {
    transform: translateY(-1rem); }
  to {
    transform: translateY(1rem); } }

.float {
  animation-name: float;
  transform-origin: center bottom; }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-name: pulse; }

@keyframes twinkle1 {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    opacity: 0; } }

.twinkle1 {
  animation-name: twinkle; }

@keyframes twinkle2 {
  from {
    opacity: 0; }
  30% {
    opacity: 1; }
  to {
    opacity: 0; } }

.twinkle2 {
  animation-name: twinkle; }

@keyframes twinkle3 {
  from {
    opacity: 0; }
  70% {
    opacity: 1; }
  to {
    opacity: 0; } }

.twinkle3 {
  animation-name: twinkle; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInUp {
  animation-name: zoomInUp; }
