.font-montserrat {
  font-family: Montserrat; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #48554A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.serif {
  font-family: Times, 'Times New Roman', serif; }

h1, h2, h3, h4, h5 {
  font-family: Montserrat;
  font-weight: 700;
  /* letter-spacing: -0.05rem; */ }

h1, h2 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.1; }

.small-heading {
  font-size: 20px;
  font-size: 2rem;
  color: #A2A9A3;
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

a {
  color: #4D5AE4; }
  a:hover {
    color: #4D5AE4;
    text-decoration: none; }
    a:hover.link--arrow:after {
      opacity: 1;
      left: 25rem;
      transition: all .3s ease-out; }
  a.nav-link {
    color: #48554A !important; }
    a.nav-link:hover, a.nav-link:focus, a.nav-link:active {
      background: rgba(77, 90, 228, 0.05);
      border-radius: 0.5rem;
      color: #4D5AE4 !important; }
  a.link--arrow:after {
    content: "\f30b";
    color: rgba(77, 90, 228, 0.5);
    font-family: "Font Awesome 5 Solid";
    opacity: 0;
    position: absolute;
    left: 22rem;
    transition: all .3s ease-in; }

.text--blurple {
  color: #5866FF; }

.text--placeholder {
  color: #A2A9A3; }

.text--purple {
  color: #C496FF; }

.text--red {
  color: #FF7F9E; }

/* TOP NAV */
/* READING PROGRESS BAR */
/* Lists */
.img-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.img-bullets--gem {
  background: url("http://adamruf.com/images/2018-refresh/bullet--gem.svg") no-repeat left top/19px 16px;
  height: 22px;
  line-height: 16px;
  padding-left: 25px; }

header {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Montserrat;
  font-weight: 700; }

header a {
  color: #48554A; }
  header a:hover, header a:focus, header a:active {
    color: #4D5AE4; }

.testimonial-message {
  font-size: 30px;
  font-size: 3rem;
  color: #707571;
  font-family: Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  line-height: 1.1; }

.m-x-auto {
  margin-left: auto;
  margin-right: auto; }

.ar-input--text {
  border: 1px solid #D1D4D1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
  color: #4D5AE4 !important;
  font-size: 1.8rem;
  min-width: 35rem;
  border-radius: 0.4rem;
  padding: 1.5rem; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #A2A9A3 !important; }

.button {
  background-color: #F9FAFA;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
  color: #707571 !important;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  /* min-width: 236px; */
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  transition: all 0.15s ease;
  white-space: nowrap; }
  .button:hover, .button:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 7px 14px rgba(50, 78, 93, 0.1);
    text-decoration: none;
    transform: translateY(-1px); }
  .button.active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
    transform: translateY(1px); }

.button--primary {
  background-color: #4D5AE4;
  color: #fff !important;
  text-shadow: 0 1px 3px rgba(77, 90, 228, 0.44); }

.button-toggle {
  background: #F9FAFA;
  border: none;
  color: #707571;
  padding: 1rem 1.5rem;
  transition: 0.15s ease; }
  .button-toggle:hover, .button-toggle:focus {
    background: #e8eafc; }
  .button-toggle.active {
    background: #4D5AE4;
    color: white; }
    .button-toggle.active:hover {
      background: #4452e3; }

.button-toggle--left {
  border-radius: 6px 0 0 6px; }

.button-toggle--right {
  border-radius: 0 6px 6px 0; }

.cta-text {
  font-size: 18px;
  font-size: 1.8rem;
  color: #707571; }

.ar-alert {
  background: #F9FAFA;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11);
  color: rgba(72, 85, 74, 0.85);
  display: block;
  font-family: 'Montserrat';
  font-weight: 500;
  padding: 2rem;
  transition: all 0.2s ease; }
  .ar-alert:hover, .ar-alert:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 7px 14px rgba(50, 78, 93, 0.1);
    cursor: pointer;
    transform: scale(1.025) translateY(-1px); }

.ar-alert_icon {
  display: inline-block;
  font-size: 4rem;
  margin-right: 1.5rem;
  min-width: 4rem;
  vertical-align: top; }

.ar-alert_text {
  display: inline-block;
  margin: 0;
  max-width: 400px;
  width: 80%; }

.ar-bg--red {
  background: #FFF3F6 !important; }

.ar-bg--orange {
  background: #FFF8EC !important; }

.ar-bg--yellow {
  background: #FFFEEB !important; }

.ar-bg--green {
  background: #F3FFF8 !important; }

.ar-bg--blue {
  background: #F3FFFF !important; }

.ar-bg--purple {
  background: #F9F4FF !important; }

.ar-alert--sm {
  max-width: 50rem; }

.elevation-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11); }

.elevation-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 7px 14px rgba(50, 78, 93, 0.1); }

.elevation-3 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07), 0 15px 35px rgba(50, 78, 93, 0.1); }

.text-shadow-1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(50, 78, 93, 0.11); }

.svg-elevation-1 {
  -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.08)) drop-shadow(0 4px 6px rgba(50, 78, 93, 0.11));
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.08)) drop-shadow(0 4px 6px rgba(50, 78, 93, 0.11)); }

.svg-elevation-2 {
  -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.07)) drop-shadow(0 15px 35px rgba(50, 78, 93, 0.1));
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.07)) drop-shadow(0 15px 35px rgba(50, 78, 93, 0.1)); }

.svg-shadow--gem {
  -webkit-filter: drop-shadow(-5px 10px 14px rgba(0, 0, 0, 0.09)) drop-shadow(-15 60px 25px rgba(50, 78, 93, 0.1));
  filter: drop-shadow(-5px 10px 14px rgba(0, 0, 0, 0.09)) drop-shadow(-15px 60px 25px rgba(50, 78, 93, 0.1)); }

.no-overflow-x {
  overflow-x: hidden; }

.background-image--curved-path-1 {
  background-image: url("http://adamruf.com/images/2018-refresh/curved-path-01.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain; }

.background-image {
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */ }

.background-gradient {
  margin-bottom: 20rem;
  margin-top: -20rem;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2; }

.background-gradient--1 {
  background: linear-gradient(45deg, #ffceff 0%, #b2beff 100%);
  clip-path: polygon(0 calc(10% - 1vw), 100% 0, 100% calc(90% - 1vw), 0 100%); }

.background-gradient--2 {
  background: linear-gradient(45deg, #8295ff 0%, #83d3ff 100%);
  /* clip-path: url('/images/2018-refresh/wavy-clip-path.svg'); */
  clip-path: polygon(0 0, 5% 5%, 10% 0, 15% 5%, 20% 0, 25% 5%, 30% 0, 35% 5%, 40% 0, 45% 5%, 50% 0, 55% 5%, 60% 0, 65% 5%, 70% 0, 75% 5%, 80% 0, 85% 5%, 90% 0, 95% 5%, 100% 0, 100% 100%, 95% 95%, 90% 100%, 85% 95%, 80% 100%, 75% 95%, 70% 100%, 65% 95%, 60% 100%, 55% 95%, 50% 100%, 45% 95%, 40% 100%, 35% 95%, 30% 100%, 25% 95%, 20% 100%, 15% 95%, 10% 100%, 5% 95%, 0 100%);
  height: 700px;
  margin-top: 20rem;
  opacity: 0.1; }

.background-gradient--3 {
  background: #F5FFF9;
  background-image: linear-gradient(#F5FFF9, #CFFFE4);
  border-radius: 50% 50% 0 0;
  box-shadow: 0 -3rem 6rem #F5FFF9;
  height: 400px;
  margin-left: -15%;
  margin-right: -15%;
  top: 14rem;
  width: 130%; }

.background-gradient--4 {
  background: #BFA8FF;
  background-image: linear-gradient(#BFA8FF, #909AFF);
  border-radius: 50% 50% 0 0;
  bottom: 0;
  box-shadow: 0 -1rem 20rem #BFA8FF;
  height: 200px;
  margin-left: -15%;
  margin-right: -15%;
  width: 130%; }

.fade-top {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left top, from(black), to(transparent)); }

.opacity-100 {
  opacity: 1 !important; }

@keyframes opacity-wave {
  0%, 100% {
    opacity: 0.1; }
  50% {
    opacity: 0.25; } }

.opacity-wave--1 {
  animation: opacity-wave 5s infinite; }

.opacity-wave--2 {
  animation: opacity-wave 5s infinite 1s; }

.opacity-wave--3 {
  animation: opacity-wave 5s infinite 2s; }

.background-pattern {
  height: 100%;
  width: 100%; }

.background-pattern--dots {
  background-image: url("http://adamruf.com/images/2018-refresh/dot-pattern.svg"); }

.background-pattern--shapes {
  background-image: url("http://adamruf.com/images/2018-refresh/shape-pattern.svg"); }

.background-pattern--shapes-dots {
  background-image: url("http://adamruf.com/images/2018-refresh/shape-pattern.svg"), url("http://adamruf.com/images/2018-refresh/dot-pattern.svg"); }

.background-pattern--shapes-fade {
  background-image: url("http://adamruf.com/images/2018-refresh/fade-to-white.png"), url("http://adamruf.com/images/2018-refresh/shape-pattern-2.svg"); }

.background-pattern--dots {
  background-image: url("http://adamruf.com/images/2018-refresh/dot-pattern.svg"); }

.background-pattern--shapes {
  background-image: url("http://adamruf.com/images/2018-refresh/shape-pattern.svg"); }

.background-pattern--curved-path-1 {
  background-image: url("http://adamruf.com/images/2018-refresh/curved-path-01.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain; }

.clip-path--2 {
  background: linear-gradient(45deg, #8295ff 0%, #83d3ff 100%);
  bottom: 0;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%; }

.clip-path--2__shadow-1 {
  background: linear-gradient(45deg, rgba(130, 149, 255, 0.1) 0%, rgba(131, 211, 255, 0.1) 100%);
  bottom: 3rem;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%; }

.background-image--shapes-1 {
  background-image: url("http://adamruf.com/images/2018-refresh/shape-pattern.svg");
  background-position: left top;
  background-repeat: repeat;
  background-size: cover; }

.img--intro-video {
  transition: all 0.5s ease; }

.img--intro-video:hover {
  transform: scale(1.1) rotate(-5deg); }

.ar-card {
  background: #FFFFFF;
  border-radius: 1rem;
  padding: 2rem;
  position: relative; }

.ar-card--md {
  min-height: 400px;
  max-width: 500px;
  width: 500px; }

.ar-card--sm {
  min-height: 300px;
  max-width: 350px;
  width: 350px; }

.ar-transparent-gray-text {
  color: rgba(72, 85, 74, 0.85); }

.ar-card__heading {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2; }

/* ICONS */
.ar-icon {
  display: inline-block; }

.ar-icon--red {
  color: #FF7F9E; }

.ar-icon--orange {
  color: #FFCE7F; }

.ar-icon--gold {
  color: #FFEB4B; }

.ar-icon--green {
  color: #7FFFB9; }

.ar-icon--blue {
  color: #7FF6FF; }

.ar-icon--purple {
  color: #C496FF; }

.ar-icon--lg {
  font-size: 4rem;
  min-width: 5rem; }

.ar-icon--xl {
  font-size: 5rem;
  min-width: 6rem; }

/* TODO Create a SASS Helpers loop for generating borders */
.border-b-red {
  border-bottom: 10px solid #FF7F9E; }

.border-b-orange {
  border-bottom: 10px solid #FFCE7F; }

.border-b-yellow {
  border-bottom: 10px solid #FFFD7F; }

.border-b-green {
  border-bottom: 10px solid #7FFFB9; }

.border-b-blue {
  border-bottom: 10px solid #7FF6FF; }

/* Styles that allow top nav to scroll */
@media (max-width: 500px) {
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem; }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; }
  .background-gradient--2 {
    clip-path: polygon(0 0, 10% 5%, 20% 0, 30% 5%, 40% 0, 50% 5%, 60% 0, 70% 5%, 80% 0, 90% 5%, 100% 0, 100% 100%, 90% 95%, 80% 100%, 70% 95%, 60% 100%, 50% 95%, 40% 100%, 30% 95%, 20% 100%, 10% 95%, 0 100%); } }

.m-t-0 {
  margin-top: 0rem !important; }

.p-t-0 {
  padding-top: 0rem !important; }

.m-b-0 {
  margin-bottom: 0rem !important; }

.p-b-0 {
  padding-bottom: 0rem !important; }

.m-l-0 {
  margin-left: 0rem !important; }

.p-l-0 {
  padding-left: 0rem !important; }

.m-r-0 {
  margin-right: 0rem !important; }

.p-r-0 {
  padding-right: 0rem !important; }

.m-0 {
  margin: 0rem !important; }

.p-0 {
  padding: 0rem !important; }

.m-x-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important; }

.p-x-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important; }

.m-y-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important; }

.p-y-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }

.m-t-1 {
  margin-top: 1rem !important; }

.p-t-1 {
  padding-top: 1rem !important; }

.m-b-1 {
  margin-bottom: 1rem !important; }

.p-b-1 {
  padding-bottom: 1rem !important; }

.m-l-1 {
  margin-left: 1rem !important; }

.p-l-1 {
  padding-left: 1rem !important; }

.m-r-1 {
  margin-right: 1rem !important; }

.p-r-1 {
  padding-right: 1rem !important; }

.m-1 {
  margin: 1rem !important; }

.p-1 {
  padding: 1rem !important; }

.m-x-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important; }

.p-x-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.m-t-2 {
  margin-top: 2rem !important; }

.p-t-2 {
  padding-top: 2rem !important; }

.m-b-2 {
  margin-bottom: 2rem !important; }

.p-b-2 {
  padding-bottom: 2rem !important; }

.m-l-2 {
  margin-left: 2rem !important; }

.p-l-2 {
  padding-left: 2rem !important; }

.m-r-2 {
  margin-right: 2rem !important; }

.p-r-2 {
  padding-right: 2rem !important; }

.m-2 {
  margin: 2rem !important; }

.p-2 {
  padding: 2rem !important; }

.m-x-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important; }

.p-x-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important; }

.m-y-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.p-y-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.m-t-3 {
  margin-top: 3rem !important; }

.p-t-3 {
  padding-top: 3rem !important; }

.m-b-3 {
  margin-bottom: 3rem !important; }

.p-b-3 {
  padding-bottom: 3rem !important; }

.m-l-3 {
  margin-left: 3rem !important; }

.p-l-3 {
  padding-left: 3rem !important; }

.m-r-3 {
  margin-right: 3rem !important; }

.p-r-3 {
  padding-right: 3rem !important; }

.m-3 {
  margin: 3rem !important; }

.p-3 {
  padding: 3rem !important; }

.m-x-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important; }

.p-x-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important; }

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.m-t-4 {
  margin-top: 4rem !important; }

.p-t-4 {
  padding-top: 4rem !important; }

.m-b-4 {
  margin-bottom: 4rem !important; }

.p-b-4 {
  padding-bottom: 4rem !important; }

.m-l-4 {
  margin-left: 4rem !important; }

.p-l-4 {
  padding-left: 4rem !important; }

.m-r-4 {
  margin-right: 4rem !important; }

.p-r-4 {
  padding-right: 4rem !important; }

.m-4 {
  margin: 4rem !important; }

.p-4 {
  padding: 4rem !important; }

.m-x-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important; }

.p-x-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important; }

.m-y-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important; }

.p-y-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.m-t-5 {
  margin-top: 5rem !important; }

.p-t-5 {
  padding-top: 5rem !important; }

.m-b-5 {
  margin-bottom: 5rem !important; }

.p-b-5 {
  padding-bottom: 5rem !important; }

.m-l-5 {
  margin-left: 5rem !important; }

.p-l-5 {
  padding-left: 5rem !important; }

.m-r-5 {
  margin-right: 5rem !important; }

.p-r-5 {
  padding-right: 5rem !important; }

.m-5 {
  margin: 5rem !important; }

.p-5 {
  padding: 5rem !important; }

.m-x-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important; }

.p-x-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important; }

.m-y-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important; }

.p-y-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.m-t-6 {
  margin-top: 6rem !important; }

.p-t-6 {
  padding-top: 6rem !important; }

.m-b-6 {
  margin-bottom: 6rem !important; }

.p-b-6 {
  padding-bottom: 6rem !important; }

.m-l-6 {
  margin-left: 6rem !important; }

.p-l-6 {
  padding-left: 6rem !important; }

.m-r-6 {
  margin-right: 6rem !important; }

.p-r-6 {
  padding-right: 6rem !important; }

.m-6 {
  margin: 6rem !important; }

.p-6 {
  padding: 6rem !important; }

.m-x-6 {
  margin-left: 6rem !important;
  margin-right: 6rem !important; }

.p-x-6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important; }

.m-y-6 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important; }

.p-y-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important; }

.m-t-7 {
  margin-top: 7rem !important; }

.p-t-7 {
  padding-top: 7rem !important; }

.m-b-7 {
  margin-bottom: 7rem !important; }

.p-b-7 {
  padding-bottom: 7rem !important; }

.m-l-7 {
  margin-left: 7rem !important; }

.p-l-7 {
  padding-left: 7rem !important; }

.m-r-7 {
  margin-right: 7rem !important; }

.p-r-7 {
  padding-right: 7rem !important; }

.m-7 {
  margin: 7rem !important; }

.p-7 {
  padding: 7rem !important; }

.m-x-7 {
  margin-left: 7rem !important;
  margin-right: 7rem !important; }

.p-x-7 {
  padding-left: 7rem !important;
  padding-right: 7rem !important; }

.m-y-7 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important; }

.p-y-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important; }

.m-t-8 {
  margin-top: 8rem !important; }

.p-t-8 {
  padding-top: 8rem !important; }

.m-b-8 {
  margin-bottom: 8rem !important; }

.p-b-8 {
  padding-bottom: 8rem !important; }

.m-l-8 {
  margin-left: 8rem !important; }

.p-l-8 {
  padding-left: 8rem !important; }

.m-r-8 {
  margin-right: 8rem !important; }

.p-r-8 {
  padding-right: 8rem !important; }

.m-8 {
  margin: 8rem !important; }

.p-8 {
  padding: 8rem !important; }

.m-x-8 {
  margin-left: 8rem !important;
  margin-right: 8rem !important; }

.p-x-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important; }

.m-y-8 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important; }

.p-y-8 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important; }

.m-t-9 {
  margin-top: 9rem !important; }

.p-t-9 {
  padding-top: 9rem !important; }

.m-b-9 {
  margin-bottom: 9rem !important; }

.p-b-9 {
  padding-bottom: 9rem !important; }

.m-l-9 {
  margin-left: 9rem !important; }

.p-l-9 {
  padding-left: 9rem !important; }

.m-r-9 {
  margin-right: 9rem !important; }

.p-r-9 {
  padding-right: 9rem !important; }

.m-9 {
  margin: 9rem !important; }

.p-9 {
  padding: 9rem !important; }

.m-x-9 {
  margin-left: 9rem !important;
  margin-right: 9rem !important; }

.p-x-9 {
  padding-left: 9rem !important;
  padding-right: 9rem !important; }

.m-y-9 {
  margin-top: 9rem !important;
  margin-bottom: 9rem !important; }

.p-y-9 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important; }

.m-t-10 {
  margin-top: 10rem !important; }

.p-t-10 {
  padding-top: 10rem !important; }

.m-b-10 {
  margin-bottom: 10rem !important; }

.p-b-10 {
  padding-bottom: 10rem !important; }

.m-l-10 {
  margin-left: 10rem !important; }

.p-l-10 {
  padding-left: 10rem !important; }

.m-r-10 {
  margin-right: 10rem !important; }

.p-r-10 {
  padding-right: 10rem !important; }

.m-10 {
  margin: 10rem !important; }

.p-10 {
  padding: 10rem !important; }

.m-x-10 {
  margin-left: 10rem !important;
  margin-right: 10rem !important; }

.p-x-10 {
  padding-left: 10rem !important;
  padding-right: 10rem !important; }

.m-y-10 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important; }

.p-y-10 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important; }

.m-t-20 {
  margin-top: 20rem !important; }

.p-t-20 {
  padding-top: 20rem !important; }

.m-b-20 {
  margin-bottom: 20rem !important; }

.p-b-20 {
  padding-bottom: 20rem !important; }

.m-l-20 {
  margin-left: 20rem !important; }

.p-l-20 {
  padding-left: 20rem !important; }

.m-r-20 {
  margin-right: 20rem !important; }

.p-r-20 {
  padding-right: 20rem !important; }

.m-20 {
  margin: 20rem !important; }

.p-20 {
  padding: 20rem !important; }

.m-x-20 {
  margin-left: 20rem !important;
  margin-right: 20rem !important; }

.p-x-20 {
  padding-left: 20rem !important;
  padding-right: 20rem !important; }

.m-y-20 {
  margin-top: 20rem !important;
  margin-bottom: 20rem !important; }

.p-y-20 {
  padding-top: 20rem !important;
  padding-bottom: 20rem !important; }

.m-t-30 {
  margin-top: 30rem !important; }

.p-t-30 {
  padding-top: 30rem !important; }

.m-b-30 {
  margin-bottom: 30rem !important; }

.p-b-30 {
  padding-bottom: 30rem !important; }

.m-l-30 {
  margin-left: 30rem !important; }

.p-l-30 {
  padding-left: 30rem !important; }

.m-r-30 {
  margin-right: 30rem !important; }

.p-r-30 {
  padding-right: 30rem !important; }

.m-30 {
  margin: 30rem !important; }

.p-30 {
  padding: 30rem !important; }

.m-x-30 {
  margin-left: 30rem !important;
  margin-right: 30rem !important; }

.p-x-30 {
  padding-left: 30rem !important;
  padding-right: 30rem !important; }

.m-y-30 {
  margin-top: 30rem !important;
  margin-bottom: 30rem !important; }

.p-y-30 {
  padding-top: 30rem !important;
  padding-bottom: 30rem !important; }

.m-t-05 {
  margin-top: 0.5rem !important; }

.p-t-05 {
  padding-top: 0.5rem !important; }

.m-b-05 {
  margin-bottom: 0.5rem !important; }

.p-b-05 {
  padding-bottom: 0.5rem !important; }

.m-l-05 {
  margin-left: 0.5rem !important; }

.p-l-05 {
  padding-left: 0.5rem !important; }

.m-r-05 {
  margin-right: 0.5rem !important; }

.p-r-05 {
  padding-right: 0.5rem !important; }

.m-05 {
  margin: 0.5rem !important; }

.p-05 {
  padding: 0.5rem !important; }

.m-x-05 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important; }

.p-x-05 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important; }

.m-y-05 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.p-y-05 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

/* From animate.css by Daniel Eden -- http://daneden.github.io/animate.css/ */
.animated {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-name: pulse; }
