@charset "UTF-8";
/* - - - - - - - - - - - - - - - - - - - - *\
COLORS
\* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - *\
TYPOGRAPHY
\* - - - - - - - - - - - - - - - - - - - - */
h1, h2, h3 {
  font-family: "jaf-bernino-sans-comp";
  letter-spacing: 1px;
  line-height: 1.1em;
  text-transform: uppercase;
  word-spacing: 1px; }

h1 {
  color: #3ac162;
  font-size: 4.236em;
  font-weight: 300;
  margin: 0 0 0.825em; }

h2 {
  font-size: 2.618em;
  font-weight: 300;
  margin: 0 0 0.515em; }

h2 .muted {
  font-size: 0.4em;
  vertical-align: text-bottom; }

h3 {
  font-size: 1.618em;
  font-weight: 600;
  margin: 0 0 1.1em; }

h4, h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  font-size: 1.618em;
  font-weight: 300;
  margin-bottom: 1.5%; }

h5 {
  font-size: 1.618em;
  margin-bottom: 1.5%; }

p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1.5em; }
  p a:hover, p a:active {
    border-bottom: 1px solid rgba(66, 182, 101, 0.5);
    color: #42B665;
    text-decoration: none; }

a {
  font-weight: 500; }

blockquote {
  margin-top: -2em; }
  blockquote p {
    color: #555;
    font-family: "museo-slab";
    font-size: 22px;
    font-style: italic;
    line-height: 1.35em; }

ul {
  margin: 0 0 1.5em; }

.container li {
  font-size: 1em;
  font-weight: 300;
  margin: 0; }

header h1 {
  display: inline-block;
  font-size: 5.5em;
  margin: 0 0 10px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
header a, header a:hover, header a:active, header a:focus {
  text-decoration: none; }

/* - - - - - - - - - - - - - - - - - - - - *\
BUTTONS
\* - - - - - - - - - - - - - - - - - - - - */
button::-moz-focus-inner {
  border: 0; }

button, .button {
  border-bottom: 5px solid #555;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  font-family: "jaf-bernino-sans-comp";
  font-size: 1.618em;
  font-weight: bold;
  margin: 0;
  padding: 0.35em 0.7em 0.3em;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  button:hover, .button:hover {
    text-decoration: none;
    outline: 0; }
  button:active, .button:active {
    border-bottom: 2px solid #555;
    box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.2);
    margin-top: 3px; }
  button:focus, .button:focus {
    box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.2);
    outline: 0;
    text-decoration: none; }

.button-lg {
  border-bottom-width: 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 2.618em;
  padding: 0.55em 0.8em 0.5em; }
  .button-lg:active {
    margin-top: 4px; }
  @media screen and (max-width: 450px) {
    .button-lg {
      font-size: 2em; } }

.style-green {
  background-color: #5fcf80;
  color: #fff !important;
  border-color: #34ad58;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
  .style-green:hover {
    background-color: #3ac162;
    border-bottom-color: #31a252; }
  .style-green:active {
    border-color: #34ad58; }
  .style-green:focus {
    background-color: #3ac162; }

/* - - - - - - - - - - - - - - - - - - - - *\
NAVIGATION
\* - - - - - - - - - - - - - - - - - - - - */
nav.navbar {
  font-family: "jaf-bernino-sans-comp";
  font-size: 1.5em;
  text-transform: uppercase; }
nav.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.85); }
  @media screen and (max-width: 767px) {
    nav.navbar-inverse .navbar-header {
      background-color: #000; } }
  nav.navbar-inverse .navbar-nav {
    margin: 0.35em 0 0; }
    nav.navbar-inverse .navbar-nav li > a {
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.9em;
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 1em;
      margin: 0.35em 0.2em 0 0.3em;
      padding: 0.2em 0.2em 0.1em 0.25em;
      transition: all 0.3s ease-out; }
      nav.navbar-inverse .navbar-nav li > a:hover, nav.navbar-inverse .navbar-nav li > a:active, nav.navbar-inverse .navbar-nav li > a:focus {
        color: white;
        background-color: #5fcf80; }
        @media screen and (min-width: 768px) {
          nav.navbar-inverse .navbar-nav li > a:hover, nav.navbar-inverse .navbar-nav li > a:active, nav.navbar-inverse .navbar-nav li > a:focus {
            -webkit-transform: translateY(-4px);
            transform: translateY(-4px); } }
      nav.navbar-inverse .navbar-nav li > a:focus {
        outline: none;
        box-shadow: 0 0 15px rgba(95, 207, 128, 0.75); }
      @media screen and (max-width: 767px) {
        nav.navbar-inverse .navbar-nav li > a {
          font-size: 1.25em;
          padding: 0.25em 0 0.15em 0.25em; } }
    nav.navbar-inverse .navbar-nav li.active > a {
      background-color: rgba(85, 85, 85, 0.5);
      color: rgba(255, 255, 255, 0.5); }
      nav.navbar-inverse .navbar-nav li.active > a:hover, nav.navbar-inverse .navbar-nav li.active > a:focus {
        background-color: rgba(85, 85, 85, 0.5);
        color: white;
        -webkit-transform: translateY(0px);
        transform: translateY(0px); }
  nav.navbar-inverse .navbar-brand {
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 1em;
    margin-top: -2px;
    max-height: 67px;
    outline: none;
    padding: 0 0 0 10px;
    transition: all 0.15s; }
    nav.navbar-inverse .navbar-brand img {
      margin-right: 0.3em;
      margin-top: -9px;
      -webkit-transition: 0.25s ease-out;
      transition: 0.25s ease-out;
      width: 30px; }
    nav.navbar-inverse .navbar-brand:hover img {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    nav.navbar-inverse .navbar-brand span {
      font-family: 'museo-slab';
      font-size: 1.2em;
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 76px;
      text-transform: capitalize; }
  nav.navbar-inverse.navbar-fixed-top {
    height: 65px; }
  nav.navbar-inverse .centered-nav {
    width: 22.7em; }
    @media screen and (max-width: 767px) {
      nav.navbar-inverse .centered-nav {
        width: 100%; } }
  nav.navbar-inverse .navbar-toggle {
    margin-top: 15px;
    border-color: dimgray;
    transition: all 0.2s ease-out; }
    nav.navbar-inverse .navbar-toggle:hover {
      background: #5fcf80;
      border-color: #fff; }
    nav.navbar-inverse .navbar-toggle:active {
      border-bottom: 1px solid dimgray; }
    nav.navbar-inverse .navbar-toggle:focus {
      background: transparent;
      outline: none; }
    nav.navbar-inverse .navbar-toggle button .icon-bar {
      border-color: dimgray;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); }
    nav.navbar-inverse .navbar-toggle button:hover .icon-bar {
      border-color: #fff;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15); }
  @media screen and (max-width: 767px) {
    nav.navbar-inverse .navbar-collapse, nav.navbar-inverse .navbar-form {
      background: #000;
      max-height: 555px;
      overflow-y: hidden;
      padding: 0 25px 20px; } }

/* - - - - - - - - - - - - - - - - - - - - *\
HELPERS
\* - - - - - - - - - - - - - - - - - - - - */
.headroom-xs {
  margin-top: 1em; }

.headroom-sm {
  margin-top: 2em; }

.headroom-md {
  margin-top: 3em; }

.headroom-lg {
  margin-top: 5em; }
  @media screen and (max-width: 640px) {
    .headroom-lg {
      margin-top: 6em; } }

.headroom-xl {
  margin-top: 7em; }

.legroom-xs {
  margin-bottom: 1em; }

.legroom-sm {
  margin-bottom: 2em; }

.legroom-md {
  margin-bottom: 3em; }

.legroom-lg {
  margin-bottom: 5em; }

.legroom-xl {
  margin-bottom: 7em; }

.legroom-xxl {
  margin-bottom: 35em; }

.img-sm {
  max-width: 300px; }

.faded-50p {
  opacity: 0.5; }

.faded-75p {
  opacity: 0.25; }

.gray-text {
  color: #ccc; }

.bordered-top {
  border-top: 3px solid rgba(0, 0, 0, 0.1); }

.tipped {
  border-bottom: 6px dotted #eee;
  cursor: help; }

.padded {
  padding: 0 20px; }

.recent-work.padded {
  padding: 0 1em 1.5em; }

.scrollable {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  height: 13em;
  overflow-y: auto; }

.shadowy {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s; }

/* - - - - - - - - - - - - - - - - - - - - *\
ACCORDIONS
\* - - - - - - - - - - - - - - - - - - - - */
.accordion-toggle {
  transition: all 0.3s; }

.accordion-toggle:after {
  /* symbol for "opened" panels */
  font-family: 'FontAwesome';
  content: "\f054";
  float: right;
  color: inherit;
  transition: all 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

.panel-heading.collapsed .accordion-toggle:after {
  /* symbol for "collapsed" panels */
  content: "\f054";
  transition: all 0.3s;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none; }

.panel-group .panel {
  background: transparent;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .panel-group .panel.panel-info .panel-heading {
    background-color: #5fcf80;
    border: none;
    border-radius: 7px 7px 0 0;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s; }
    .panel-group .panel.panel-info .panel-heading:hover {
      background-color: #4bc970; }
    .panel-group .panel.panel-info .panel-heading.collapsed {
      border-radius: 7px; }
    .panel-group .panel.panel-info .panel-heading .panel-title {
      color: #fff;
      font-size: 2rem;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
      font-weight: normal;
      letter-spacing: 0;
      text-transform: none;
      word-spacing: 0; }
  .panel-group .panel .panel-body {
    background: rgba(95, 207, 128, 0.1); }
  .panel-group .panel .panel-heading + .panel-collapse .panel-body {
    border: none; }

/* - - - - - - - - - - - - - - - - - - - - *\
MODALS
\* - - - - - - - - - - - - - - - - - - - - */
.modal-content {
  -webkit-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.05); }

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0; }

.modal-header {
  border: none;
  padding: 15px 15px 0; }
  .modal-header h3 {
    margin-bottom: -30px; }
  .modal-header .close:focus {
    background: transparent;
    box-shadow: none;
    font-size: 40px;
    outline: 0; }

.modal-body {
  overflow-y: hidden;
  padding: 0 20px 20px; }
  .modal-body iframe {
    max-height: 530px;
    min-height: 530px; }
  .modal-body p {
    margin-bottom: 1%; }
  .modal-body label {
    margin-bottom: 0; }
  .modal-body textarea, .modal-body input[type="text"], .modal-body input[type="email"] {
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background: rgba(120, 120, 120, 0.05);
    color: #555;
    display: block;
    margin-bottom: 1em;
    padding: 5px; }
  .modal-body textarea {
    height: 4em;
    line-height: 1.25em;
    resize: none;
    width: 100%; }
  .modal-body input[type="text"], .modal-body .modal-body input[type="email"] {
    width: 50%; }
  .modal-body input.dollars {
    display: inline-block;
    text-align: right;
    width: 4em; }
  .modal-body input.cents {
    display: inline-block;
    width: 2em; }

/* - - - - - - - - - - - - - - - - - - - - *\
TOOLTIPS
\* - - - - - - - - - - - - - - - - - - - - */
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgba(0, 0, 0, 0.85); }

.tooltip-inner {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0;
  max-width: 450px;
  padding: 0.4em 1em 0.6em;
  text-align: left;
  text-transform: none; }

/* - - - - - - - - - - - - - - - - - - - - *\
UTILITY BELT
\* - - - - - - - - - - - - - - - - - - - - */
#utility-belt {
  background: url("http://adamruf.com/images/utility-belt-bg-tile.png") 0 100px repeat-x;
  background-repeat: repeat-x;
  background-size: 1px 177px;
  display: none;
  margin: -4.75em 0 5em;
  text-align: center; }
  @media screen and (min-width: 750px) {
    #utility-belt {
      display: block; } }

.utility-pouch {
  background: url("http://adamruf.com/images/utility-belt-sprite.png") -15px 0 no-repeat;
  background-size: 1100px;
  display: inline-block;
  height: 300px;
  margin: 0;
  width: 175px; }

#utility-pouch-1:hover {
  background-position: -197px 0;
  background-size: 1100px; }

#utility-pouch-2:hover {
  background-position: -377px 0;
  background-size: 1100px; }

#utility-pouch-3:hover {
  background-position: -557px 0;
  background-size: 1100px; }

#utility-pouch-4:hover {
  background-position: -737px 0;
  background-size: 1100px; }

@media screen and (max-width: 950px) {
  #utility-pouch-5 {
    display: none; } }
#utility-pouch-5:hover {
  background-position: -917px 0;
  background-size: 1100px; }

body {
  background: #fff url("http://adamruf.com/images/barely-there-grid-by-adam-ruf.png") left top;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 1.55em; }

.row {
  margin-left: 0;
  margin-right: 0; }

/* - - - - - - - - - - - - - - - - - - - - *\
HOMEPAGE
\* - - - - - - - - - - - - - - - - - - - - */
#hero .hero-unit h1 {
  color: #3ac162;
  font-family: "museo-slab";
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1em;
  text-transform: none;
  word-spacing: 0; }
#hero .hero-unit h2 {
  color: #777;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 1.15em;
  text-transform: none; }

/* - - - - - - - - - - - - - - - - - - - - *\
PORTFOLIO
\* - - - - - - - - - - - - - - - - - - - - */
.recent-work {
  padding: 1em 0 2em;
  transition: background 0.5s, border-color 0.5s; }
  .recent-work h2 {
    line-height: 1em;
    margin-top: 0.35em;
    margin-bottom: 0.3em; }
    .recent-work h2 i.tipped {
      font-size: 0.5em; }
  .recent-work h3 {
    margin-bottom: 0.3em; }
  .recent-work i.tipped {
    border: none;
    opacity: 0.5;
    font-size: 0.75em;
    padding-right: 0.25em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }

.portfolio-icons {
  display: block; }

a.img-link {
  display: block;
  position: relative;
  text-decoration: none; }

a.img-link:before {
  background: #5fcf80;
  border-radius: 0 0 0 10px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  content: 'ï‚Ž View Site';
  display: block;
  font-family: "FontAwesome", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  font-size: 1.5em;
  opacity: 0;
  padding: 0.5em 0.3em 0.5em 0.4em;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 2;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }

.img-thumbnail {
  padding: 10px;
  position: relative; }

a.img-link:hover:before {
  opacity: 1; }

/* - - - - - - - - - - - - - - - - - - - - *\
RECOMMENDED RESOURCES
\* - - - - - - - - - - - - - - - - - - - - */
.book-cover {
  margin-bottom: 1em; }

.resources {
  font-size: 1em;
  margin: 1em auto;
  border-top: 7px solid rgba(238, 238, 238, 0.33);
  padding: 9px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s; }
  .resources:hover {
    background: rgba(95, 207, 128, 0.1);
    border-color: #5fcf80; }

.full-title {
  font-size: 18px; }

#resources a:hover, #resources a:active {
  color: #34ad58;
  text-decoration: none; }
#resources cite, #resources p {
  color: rgba(0, 0, 0, 0.75); }
#resources p {
  margin-bottom: 1em; }

/* - - - - - - - - - - - - - - - - - - - - *\
ABOUT
\* - - - - - - - - - - - - - - - - - - - - */
#adam-photo {
  height: 275px;
  position: relative; }
  @media screen and (max-width: 991px) {
    #adam-photo {
      display: none; } }

#profile-pic, #profile-pic-bw {
  border: 10px solid #d6f3df;
  border-radius: 50%;
  max-height: 250px;
  position: absolute;
  top: 0;
  left: 13%; }

#profile-pic {
  z-index: 1; }

#profile-pic-bw {
  z-index: 2;
  transition: opacity 1.5s ease-in-out; }
  #profile-pic-bw:hover {
    opacity: 0; }

ul.progress-bar ul {
  margin-left: 0; }
  ul.progress-bar ul li {
    list-style: none; }

.progress {
  background-color: rgba(95, 207, 128, 0.25);
  box-shadow: none;
  height: 35px; }

.progress-bar {
  box-shadow: none; }
  .progress-bar p {
    color: #fff;
    font-size: 1.618em;
    margin-left: 1em;
    padding: 0.3em 0;
    text-align: left;
    text-shadow: none; }

.progress-bar-success {
  background-color: #5fcf80; }

.label-info {
  background: #5fcf80;
  font-size: 1em;
  margin-left: 0.25em;
  padding: 0.3em;
  text-shadow: none; }

.list-flush-left {
  list-style-position: inside;
  padding-left: 0; }

/* - - - - - - - - - - - - - - - - - - - - *\
404
\* - - - - - - - - - - - - - - - - - - - - */
#missing img {
  max-height: 650px; }

/* - - - - - - - - - - - - - - - - - - - - *\
FOOTER
\* - - - - - - - - - - - - - - - - - - - - */
footer {
  background: #000;
  padding: 2em 0 1em; }
  footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em; }
  footer #footer-connect {
    font-size: 2rem;
    margin-left: 0.5em;
    position: relative; }
  footer a {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    transition: all 0.3s ease-out;
    width: 1.4em; }
    footer a:hover, footer a:active, footer a:focus {
      background-color: #5FCF80;
      color: white;
      outline: 0;
      box-shadow: none;
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px); }

/* - - - - - - - - - - - - - - - - - - - - *\
FOCUS & SELECTION
\* - - - - - - - - - - - - - - - - - - - - */
input:active, input:focus, textarea:active, textarea:focus, span.radio-labels:focus {
  outline: 4px solid #5fcf80;
  background: #fff !important;
  color: #34ad58 !important; }

::selection {
  background: rgba(124, 189, 135, 0.25);
  /* Safari */ }

::-moz-selection {
  background: rgba(124, 189, 135, 0.25);
  /* Firefox */ }
