body {
	background: #fff url('http://adamruf.com/images/barely-there-grid-by-adam-ruf.png') left top;
	color: #555;
	font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif;
	font-size: 18px;
	line-height: 1.55em;
}

h1, h2, h3 {
	font-family: 'jaf-bernino-sans-comp', sans-serif;
	letter-spacing: 1px;
	line-height: 1.1em;
	text-transform: uppercase;
	word-spacing: 1px;
}

h1 {
	color: #4fca74 /*#73AF7D*/;
	font-size: 4.236em;
	font-weight: 300;
	margin: 0 0 0.825em
}

h2 {
	font-size: 2.618em;
	font-weight: 300;
	margin: 0 0 0.515em
}

h2 .muted {
	font-size: 0.5em;
}

h3 {
	font-size: 1.618em;
	font-weight: 600;
	margin: 0 0 1.1em;
}

h4, h5 {
	font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif;
	font-size: 1.618em;
	font-weight: 300;
	margin-bottom: 1.5%;
}

h5 {
	font-size: 1.618em;
	margin-bottom: 1.5%;
}

p {
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 1.5em
}

p a:hover, p a:active {
	border-bottom: 1px solid rgba(66, 182, 101, 0.5);;
	color: #42B665;
	text-decoration: none;
}

blockquote {
	margin-top: -2em;
}

blockquote p {
	color: #555 /*#4fca74*/;
	font-family: 'museo-slab', 'Helvetica Neue', Tahoma, sans-serif;
	font-size: 22px;
	font-style: italic;
	line-height: 1.35em;
}

ul {
	margin: 0 0 1.5em
}

.container li {
	font-size: 1em;
	font-weight: 300;
	margin: 0;
}

#logo {
	float: none;
	margin: 0.75em auto 0;
}

header h1 {
	display: inline-block;
	font-size: 5.5em;
	margin: 0 0 10px 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

header a, header a:hover, header a:active, header a:focus {
	text-decoration: none;
}

.navbar-inverse {
	background-color: rgba(0,0,0,0.85);
}

.navbar-fixed-top {
	height: 65px;
}

.shadowy {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	transition-duration: 0.2s;
}

.top-nav {
	font-family: 'jaf-bernino-sans-comp', sans-serif;
	padding: 9px 0 0 0;
	text-transform: uppercase;
}

.centered-nav {
	width: 24.5em;
}

@media (max-width: 787px) {
	.centered-nav {
		width: 100%;
	}
}

.navbar {
	font-family: 'jaf-bernino-sans-comp', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
}

.navbar-inverse .navbar-inner {
	background-color: rgba(0,0,0,0.55) !important;
	background-image: none !important;
}

.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
}

.btn-navbar {
	margin-bottom: 0.5em;
}

.navbar .btn-navbar {
	padding: 13px 16px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background: rgba(255,255,255,0.1);
	color: #999;
	cursor: default;
}

.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
	color: #ccc;
	font-size: 1.5em;
	font-weight: lighter;
}

.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
	background-color: #444;
}

.navbar-inverse .btn-navbar {
	background: #73AF7D;
}

.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:active  {
	background: #7cbd87;
}

.navbar-inverse .navbar-nav>li>a {
	border-radius: 4px;
	color: #999;
	font-size: 2.2rem;
	letter-spacing: 1px;
	line-height: 2.8rem;
	margin-left: 0.5em;
	margin-right: 0.4em;
	margin-top: 9px;
	padding: 3px 7px 0px;
	transition: all 0.3s ease-out;
	word-spacing: 1px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #5fcf80 /*#7cbd87*/;
	border-radius: 3px;
}

.navbar-nav>li>a:focus {
	outline: none;
	box-shadow: 0 0 15px rgba(79, 202, 116, 0.75);
}

.navbar-inverse .navbar-brand {
	color: #777;
	font-weight: bold;
	margin-right: 1em;
	margin-top: -2px;
	max-height: 67px;
	padding: 0 0 0 10px;
	transition: all 0.15s;
}

.navbar-inverse .navbar-brand {
	outline: none;
	box-shadow: none;
}

.navbar-brand:hover img {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	    
	-webkit-animation-name: tada;
	animation-name: tada;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.navbar-brand img {
	margin-right: 0.3em;
	margin-top: -9px;
	width: 30px;
}

.navbar-brand span {
	font-size: 1.25em;
	line-height: 76px;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-bottom: 10px;
	}
}

.navbar-inverse .navbar-toggle {
	margin-top: 15px;
	border-color: #777;
	transition: all 0.2s ease-out;
}

.navbar-inverse .navbar-toggle:hover {
	border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover {
	background: #7cbd87;
}

.navbar-toggle:focus {
	outline: none;
}

.navbar-toggle button .icon-bar {
	border-color: #777;
	box-shadow: 0 2px 0px rgba(0,0,0,0.15);
}

.navbar-toggle button:hover .icon-bar {
	border-color: #fff;
	box-shadow: 0 2px 0px rgba(0,0,0,0.15);
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		background: #222;
		max-height: 555px;
		overflow-y: hidden;
		padding: 0 25px 20px;
	}
}

#hero {
	background-image: url('//adamruf.com/images/hierarchy-ux-needs-small.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 390px;
	padding-bottom: 7em;
}

.hero-unit h1 {
	color: #4fca74;
	font-family: 'museo-slab', 'Helvetica Neue', Tahoma, sans-serif;
	font-size: 3em;
	font-weight: 300;
	letter-spacing: 0px;
	line-height: 1em;
	margin-bottom: 0em;
	text-transform: none;
	word-spacing: 0px;
}

.hero-unit h2 {
	color: #777;
	font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: -1px;
	margin-bottom: 1.15em;
	text-transform: none;
}

#hero-cta {
	margin-bottom: 3.7em;
}

@media screen and (max-width: 991px) {
	.hero-unit img {
	    right: -222px;
	    top: 119px;
	}
}

@media screen and (max-width: 748px) {
	.hero-unit img {
	    right: -185px;
	    top: 173px;
	}
}

@media screen and (min-width: 0px) and (max-width: 670px) {
	.hero-unit img {
		max-width: 425px;
	    right: -165px;
	}
}

@media screen and (max-width: 670px) {
	.hero-unit img {
	    top: 287px;
	}
}

@media screen and (max-width: 492px) {
	.hero-unit img {
	    top: 277px;
	}
}

@media screen and (max-width: 451px) {
	.hero-unit img {
	    top: 316px;
	}
}

@media screen and (max-width: 409px) {
	.hero-unit img {
	    display:none;
	}
}

.tipped {
	border-bottom: 6px dotted #eee;
	cursor: help;
}

.row {
	margin: 0;
}

a.img-link {
	display: block;
	position: relative;
}

a.img-link:before {
	background: #5fcf80;
	border-radius: 0 0 0 10px;
	box-shadow: 0 2px 0px rgba(0,0,0,0.25);
	color: #fff;
	content: ' View Site';
	display: block;
	font-family: 'FontAwesome', 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif;
	font-size: 1.5em;
	opacity: 0;
	padding: 0.5em 0.3em 0.5em 0.4em;
	position: absolute;
	top: 11px;
	right: 11px;
	z-index: 2;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.img-thumbnail {
	padding: 10px;
	position: relative;
}

a.img-link:hover:before {
	opacity: 1;
}

.green-arrow {
	color: rgb(65, 145, 65);
	padding-left: 5px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

.button-large .green-arrow {
	padding-top: 7px;
}

.padded {
	padding: 0 20px;
}

.scrollable {
	box-shadow: inset 0 -1px 0px 0px rgba(0,0,0,0.1), inset 0 1px 0px 0px rgba(0,0,0,0.1);
	height: 13em;
	overflow-y: auto;
}



footer {
	background: #222 /*#101010 url('http://adamruf.com/images/repeating-sprite.jpg') 0px -153px repeat-x*/;
	color: #ddd;
	padding: 1em 0 0;
}

footer h5 {
	display: inline-block;
	font-size: 2.25em;
	font-weight: normal;
	margin-top: 2.5%;
	margin-right: 1.5em;
}

footer p {
	color: #888;
	font-size: 0.75em;
	margin-top: 6em;
}

#footer-connect {
	font-size: 2rem;
	margin-left: 0.5em;
	position:relative;
}

#footer-connect a {
	background-color: transparent;
	border: none;
	border-radius: 3px;
	color: #888;
	display: inline-block;
	transition: all 0.3s ease-out;
	width: 1.4em;
}

#footer-connect a:hover, #footer-connect a:active, #footer-connect a:focus {
	background-color: #5FCF80;
	color: #fff;
	outline: 0;
	box-shadow: none;
}




/* BUTTONS */

a.button, button.button {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	display:inline-block;
	font-family: 'jaf-bernino-sans-comp', sans-serif;;
	font-weight: bold;
	margin: 0;
	position: relative;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

a.button:hover, button.button:hover {
	text-decoration: none;
	outline: 0;
}

a.button:active, button.button:active {
	border-bottom: none;
}

a.button:focus, button.button:focus {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	outline: none;
	text-decoration: none;
}

.style-gray {
	background-color: #ddd;
	border: 1px solid #d5d5d5;
	color: #666 !important;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.style-gray:hover, .style-gray:active {
	background-color: #e5e5e5;
	border: 1px solid #d3d3d3;
	color: #666 !important;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.style-green {
	background-color: #5fcf80;
	color: #fff !important;
	border: none;
	border-bottom: 4px solid #35b15a;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.style-green:hover {
	background-color: #4fca74;
	border-bottom-color: #35b15a;
	border-bottom-style: solid;

}

.style-green:active {
	border: none;
	box-shadow: none;
	margin-top: 4px;
}

.style-green:focus {
	box-shadow: 0 0 15px rgba(79, 202, 116, 0.75) !important;
}

.button-large {
	border-bottom-width: 6px;
	-o-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
	font-size: 2.618em;
	padding: 0.55em 0.8em 0.5em;
}

.button-large:active {
	margin-top: 6px;
}

.button-med {
	border-bottom-width: 5px;
	font-size: 1.618em;
    padding: 0.35em 0.7em 0.3em;
}

.button-med:active {
	margin-top: 5px;
}

.button-small {
	-o-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
	font-size: 1em;
	padding: 2px 8px 0px;
}

.top-border {
	border-top: 3px solid #eee;
}


/*.modal-content {
	background: white url('http://adamruf.com/images/request-estimate-bg.jpg') left top repeat;
	border: 3px solid rgba(0, 105, 155, 0.20);
}*/

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right: 0;
}

.modal-header {
	border: none;
	padding: 15px 15px 0;
}

.modal-header h3 {
	margin-bottom: -30px;
}

.modal-body {
	overflow-y: hidden;
	padding: 0 20px 20px;
}

.modal-body p {
	margin-bottom: 1%;
}

.modal-body label {
	margin-bottom: 0px;
}

.modal-body textarea, .modal-body input[type="text"], .modal-body input[type="email"] {
	height: 35px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	background: rgba(120,120,120,0.05);
	color: #555;
	display: block;
	margin-bottom: 1em;
	padding: 5px;
}

.modal-body textarea {
	height: 4em;
	line-height: 1.25em;
	resize: none;
	width: 100%;
}

.modal-body input[type="text"], .modal-body input[type="email"] {
	width: 50%;
}

.modal-body input.dollars {
	display: inline-block;
	text-align: right;
	width: 4em;
}

.modal-body input.cents {
	display: inline-block;
	width: 2em;
}

.muted {
	color: rgba(0,0,0,0.25);
	font-size: 1.2rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#estimate-request textarea {
	height: 4em;
	line-height: 1.25em;
	resize: none;
	width: 100%;
}

.headroom-sm {
	margin-top: 0.75em !important;
}

.headroom-md {
	margin-top: 5em;
}

.headroom-lg {
	margin-top: 7em ;
}

.legroom-sm {
	margin-bottom: 2em;
}

.legroom-md {
	margin-bottom: 3.3em !important;
}

.legroom-lg {
	margin-bottom: 4em !important;
}

.legroom-xl {
	margin-bottom: 7em;
}

.legroom-xxl {
	margin-bottom: 35em;
}


/* CUSTOM BOOTSTRAP OVERRIDES */

.navbar-header .btn-navbar {
	background: rgba(115, 175, 125, 0.7);
	border: 1px solid #476D4D;
	-webkit-box-shadow: inset 0 1px 0 rgba(154, 205, 50, 0.5);
	box-shadow: inset 0 1px 0 rgba(154, 205, 50, 0.5);
	margin: -6px 3px 0 0;
}

.navbar-header .btn-navbar:hover, .navbar-inverse .btn-navbar:active {
	background: rgba(115, 175, 125, 0.9);
}

.navbar-header .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
	color: #d0d0d0;
	font-size: 1.5em;
	font-weight: lighter;
}

.navbar-header .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:active {
	background: rgba(115, 175, 125, 0.7);
	color: #fff;
}

.navbar-toggle .icon-bar {
	border: 1px solid #777;
	transition: all 0.3s;
}

.navbar-toggle:hover .icon-bar {
	border: 1px solid #fff;
	box-shadow: 0 2px 0 rgba(0,0,0,0.15);
}

.accordion-group {
	margin-bottom: 1em;
	border: none;
}

.accordion-heading {
	background: rgba(229, 241, 225, 1);
	border-bottom: 0;
	display: block;
	padding: 8px 15px;
	transition: all 0.3s;
}

.accordion-toggle {
	transition: all 0.3s;
}

.accordion-heading:hover, .accordion-heading:active {
	background: rgba(124, 189, 135, 0.5);
}

.accordion-heading a, .accordion-heading a:hover {
	color: #56A363;
	font-size: 2em;
	text-decoration: none;
}

.accordion-heading a:focus {
	outline: 0;
}

.accordion ul li {
	font-size: 1.9em;
}

.accordion-inner {
	border-top: 1px solid rgba(209, 230, 216, 0.75);
}

.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-group .panel {
	margin-bottom: 1.5rem;
	border-radius: 0px;
	border: none;
}

.panel-info > .panel-heading {
	background-color: #5fcf80 /*rgba(229, 241, 225, 1)*/;
	border-radius: 0;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s;
}

.panel-info > .panel-heading:hover {
	background-color: #4fca74 /*rgba(124, 189, 135, 0.5)*/;
}

.panel-title {
	color: #fff /*#56A363*/;
	font-size: 2rem;
	font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Tahoma', sans-serif-webkit-body;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
	word-spacing: 0;
}

.panel-body {
	background-color: rgba(95, 207, 128, 0.1) /*#5fcf80*/;
	border: none;
	font-size: 1em;
	line-height: 1.75em;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
	border: none;
}

.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f054";
    transition: all 0.3s;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}

 .accordion-toggle:after {
    /* symbol for "opened" panels */
    font-family:'FontAwesome';
    content:"\f054";
    float: right;
    color: inherit;
	transition: all 0.3s;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: rgba(0,0,0,0.9);
}

.tooltip-inner {
	background-color: rgba(0,0,0,0.9);
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.25em;
	font-weight: 600;
	max-width: 450px;
	padding: 0.4em 1em 0.6em;
	text-align: left;
	text-transform: none;
}







/* PORTFOLIO */

.portfolio-quick-links {
	font-size: 1.7em;
	font-weight:lighter;
	margin: -4.5em 0 4.5em 28em;
}

.folio-piece {
	position: relative;
}

.folio-piece img {
	background: rgb(78, 165, 92);
	border: 15px solid #73AF7D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 5em;
	padding: 1px;
	transition: all 0.2s ease-in-out;
}

.folio-piece img:hover {
	border-color: #7cbd87;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.magnify {
	background: url('http://adamruf.com/images/magnifying-glass.png') center no-repeat;
	width: 100%;
	opacity: 0;

}

.magnify:hover {
	opacity: 1;
	z-index: 9999;
}

.foliorow {margin:0 auto;padding:0;text-align:center;}
/*.foliorow a:active {position: relative; top: 0px;} -- THIS CAUSED BUG IN IE & FF, caused image position to change significantly on mousedown*/
.last-row {margin:0 auto 7em;padding:0;text-align:center;}

.folio-frame {
	background: url('http://adamruf.com/images/portfolio-sprite.jpg') 0px 0px no-repeat;
	width: 280px;
	height: 205px;
	margin:0;
	position: relative;
	display: inline-block;
}

.folio-frame img {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 238px;
	height: 163px;
	opacity: 0.7;
	-webkit-transition: opacity linear 0.5s;
	-moz-transition:    opacity linear 0.5s;
	-o-transition:      opacity linear 0.5s;
	transition: opacity linear 0.5s;
}

.folio-frame img:hover {
	opacity: 1;
}

.visit-website {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.35em;
	margin: -3.5em auto 2.5em;
	width: 252px;
	text-align: left;
}

.visit-website a {
	font-weight: lighter !important;
	background-image: url('http://adamruf.com/images/external-link.png');
	background-position: left center;
	background-repeat: no-repeat;
	line-height: 2em;
	padding-left: 1em;
}

.external-link {
	background-image: url('http://adamruf.com/images/external-link.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 0.775em;
}



/* RECENT PROJECTS */

.recent-work {
	border-top: 7px solid rgba(238, 238, 238, 0.33);
	padding: 20px 0 30px;
	transition: background 0.5s, border-color 0.5s;
}

.recent-work:hover {
	background: rgba(95, 207, 128, 0.1);
	border-color: #5fcf80;
}

.recent-work i.tipped {
	border: none;
	opacity: 0.25;
	font-size: 0.75em;
	padding-right: 0.25em;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.recent-work:hover i.tipped {
	opacity: 0.5;
}

.recent-work h2 {
	line-height: 1em;
	margin-top: 0.35em;
}

.recent-work h2 i.tipped {
	font-size: 0.5em;
}

#who-how-what {
	background: rgba(95, 207, 128, 0.1);
	border-top: 7px solid rgba(95, 207, 128, 0.5) /*rgba(198, 231, 187, 0.4)*/;
}

#who-how-what div.col-md-4 {
	border-top: 7px solid transparent;
	margin-top: -7px;
	padding-top: 2em;
	transition: border 0.4s ease-in-out;
}

#who-how-what div.col-md-4:hover {
	border-color: #5fcf80 /*rgba(198, 231, 187, 1)*/;

}

#who-how-what i {
	color: #5fcf80;
	opacity: 0.5;
}

.see-thru {
	opacity: 0.5;
}

.gray-text {
	color: #ccc;
}






/* RECOMMENDED RESOURCES */

.book-cover {
	margin-bottom: 1em;
}

.resources {
	font-size: 1em;
	margin: 1em auto;
	border-top: 7px solid rgba(238, 238, 238, 0.33);
	padding: 9px;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-ms-transition: all 0.35s;
	transition: all 0.35s;
}

.resources:hover {
	background: rgba(95, 207, 128, 0.1);
	border-color: #5fcf80;
}

.full-title {
	font-size: 18px;
}

#resources a:hover, #resources a:active {
	color: #42B665;
	text-decoration: none;
}

#resources cite, #resources p {
	color: #555;
}

#resources p {
	margin-bottom: 1em;
}


/* ABOUT */

.relative {
	height: 275px;
	position: relative;
}

#profile-pic, #profile-pic-bw {
	border: 10px solid #d6f3df;
	border-radius: 50%;
	max-height: 250px;
	position: absolute;
	top: 0px;
	left: 13%;
}

#profile-pic {
	z-index: 1;
}

#profile-pic-bw {
	z-index: 2;
	transition: opacity 1.5s ease-in-out;
}

#profile-pic-bw:hover {
	opacity: 0;
}

ul.progress-bar ul {
	margin-left: 0;
}

ul.progress-bar ul li {
	list-style: none;
}

.progress {
	background-color: rgba(95, 207, 128, 0.25) /*rgba(229, 241, 225, 0.5)*/;
	box-shadow: none;
	height: 35px;
}

.progress-bar {
	box-shadow: none;
}

.progress-bar p {
	color: #fff /*#73AF7D*/;
	font-size: 1.618em;
	text-align: left;
	margin-left: 1em;
	padding: 0.2em 0;
	text-shadow: none;
}

.progress-bar-success {
	background-color: #5fcf80 /*rgba(198, 231, 187, 1)*/;
}

.label-info {
	background: #56C0B8;
	font-size: 1em;
	margin-left: 0.25em;
	padding: 0.3em;
	text-shadow: none;
}

.list-flush-left {
	list-style-position: inside;
	padding-left: 0;
}




/* 404 */

#missing img {
	max-height: 650px;
}




/* FOCUS & SELECTION */

input:active, input:focus, textarea:active, textarea:focus, span.radio-labels:focus {
	outline: 4px solid #5fcf80;
	background: #fff !important;
	color: #35b15a !important;
}

button::-moz-focus-inner {
  border: 0;
}

.fancybox-skin:focus, .fancybox-wrap:focus {
	outline: 0 !important;
}

::selection {
	background: rgba(124, 189, 135, 0.25); /* Safari */
	}
::-moz-selection {
	background: rgba(124, 189, 135, 0.25); /* Firefox */
}

a.button:focus {
	outline: 0;
}




/* CUSTOM WUFOO THEME OVERRIDES */
body#public {
	background: #fff;
}

#container {
	border: none;
    margin: 0;
    width: 100%;
}

.wufoo, .wufoo h2 {
	font-family: 'jaf-bernino-sans-comp', sans-serif;
}

#logo {
	display: none;
}

.wufoo .info {
	border-bottom: none;
	margin: 0;
	padding: 0;
}

.wufoo .info h2 {
	font-size: 2.618em;
}

.wufoo li.focused {
	background-color: transparent /*rgba(95, 207, 128, 0.33)*/;
}

.wufoo label.desc, .wufoo legend.desc {
	font-size: 1em;
}

.wufoo li {
	margin: 0 0 0.5em 0;
}

form span.req {
	color: #c0392b !important;
}

.wufoo input.text, .wufoo textarea.textarea {
	display: block;
	width: 8em;
	height: 30px;
	padding: 6px 10px;
	font-size: 25px;
	line-height: 1.5em;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

span.symbol {
	line-height: 210%;
}

#Field16 {
	width: 2em;
}

#Field16-1 {
	width: 0.7em;
}

form li span label {
	display: none;
}

.wufoo .instruct small {
	font-size: 0.9em;
}

form .instruct {
	margin: 0px 0px 0px -175px;
	top: 18px;
	width: 90%;
}

.wufoo textarea.textarea {
	height: 108px;
	line-height: 1.2em;
	max-width: 95%;
	min-width: 95%;
	resize: none;
}

.wufoo input.btTxt {
	font-size: 1.5em;
}

input.btTxt {
	background-color: #5fcf80;
	border: none;
	border-bottom: 4px solid #35b15a;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    color: #fff !important;
	cursor: pointer;
	display:inline-block;
	font-family: 'jaf-bernino-sans-comp', sans-serif;
	font-weight: bold;
	margin: 0.25em 0 0 0;
	padding: 0.25em 0.8em 0.2em;
	position: relative;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

input.btTxt:hover {
	background-color: #4fca74;
	border-bottom-color: #35b15a;
	border-bottom-style: solid;
}

input.btTxt:active {
	background-color: #5fcf80 !important;
	border: none;
	box-shadow: none;
	margin-top: 4px;
	outline: 0px;
}

input.btTxt:focus {
	background-color: #5fcf80 !important;
	box-shadow: 0 0 15px rgba(79, 202, 116, 0.75) !important;
	outline: 0px;
}

a.powertiny {
	display: none !important;
}

#errorLi {
	display: none;
}

form li.error, form li.error:focus {
	background-color: #e74c3c !important;
	border-radius: 4px;
	margin-bottom: 0.5em !important;
}

form li.error .desc {
	color: #fff !important;
}

form p.error {
	display: none !important;
}

@media (max-width: 453px) {

	.wufoo .info h2 {
		font-size: 2.218em;
	}
	.wufoo textarea.textarea {
		max-width: 93%;
		min-width: 93%;
	}
}




/* CUSTOM MEDIA QUERIES */
@media (max-width: 401px) {
	.button-large {
		font-size: 1.9em;
	}
}

@media (min-width: 402px) and (max-width: 492px) {
	.button-large {
		font-size: 2.1em;
	}
}

@media (max-width: 640px) {
    .headroom-lg {
  	margin-top: 6em;
	}
}

@media (max-width: 767px) {
	.visit-website {
		text-align: center;
	}

	.navbar-inverse .navbar-nav>li>a {
		font-size: 3rem;
		line-height: 4rem;
}


@media (max-width: 979px) {
	.legroom-xxl-lg{
		margin-bottom: 7em;
	}

	.you-are-here {
		margin: 0 auto;
	}
}

@media (min-width: 980px) {
	.legroom-xxl-lg{
		margin-bottom: 35em !important;
	}
}
