.max-w-75 {
  max-width: 75px; }

.max-w-100 {
  max-width: 100px; }

.max-w-150 {
  max-width: 150px; }

.max-w-175 {
  max-width: 175px; }

.max-w-200 {
  max-width: 200px; }

.max-w-210 {
  max-width: 210px; }

.max-w-640 {
  max-width: 640px; }

.max-w-876 {
  max-width: 876px; }

.max-w-1202 {
  max-width: 1202px; }

img {
  width: 77%; }

body {
  background: #fafafa url("http://adamruf.com/images/ux-design-contest/confetti-bg-tile@2x.png") left top;
  background-size: 1280px;
  color: #312F37;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  font-size: 3rem;
  line-height: 1.55; }

h2 {
  font-family: "Roboto Slab";
  font-size: 5rem; }

h3 {
  font-size: 4rem;
  font-weight: bold; }

a {
  color: #00A8FF; }
  a:hover, a:active, a:focus {
    border-bottom: 2px dashed #00A8FF;
    color: #00A8FF;
    text-decoration: none; }

.img-link:hover, .img-link:active, .img-link:focus {
  border: none; }

.row {
  margin: 0; }

@keyframes color-wave {
  0% {
    background-color: #FF7F9E; }
  50% {
    background-color: #7FFFB9; }
  100% {
    background-color: #7FF6FF; } }

.button {
  animation: color-wave 8s ease infinite;
  animation-direction: alternate;
  border: none;
  border-radius: 6rem;
  box-shadow: 0 1rem 0 rgba(49, 47, 55, 0.05);
  color: white;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  padding: 1.5rem;
  text-shadow: 0 0.2rem 0 rgba(49, 47, 55, 0.1); }
  .button:hover, .button:active, .button:focus {
    animation: none;
    background-color: #312F37;
    border: none;
    color: white; }
  .button:active {
    box-shadow: 0 0.6rem 0 rgba(49, 47, 55, 0.15);
    transform: translateY(0.4rem);
    transition: all 0.3s ease; }

.mg-b-50 {
  margin-bottom: 5rem; }

.mg-b-75 {
  margin-bottom: 7.5rem; }

.mg-b-100 {
  margin-bottom: 10rem; }

.mg-b-150 {
  margin-bottom: 15rem; }

.mg-b-200 {
  margin-bottom: 20rem; }

.mg-b-250 {
  margin-bottom: 25rem; }

.mg-b-300 {
  margin-bottom: 30rem; }

.mg-b-400 {
  margin-bottom: 40rem; }

.pos-absolute {
  position: absolute; }

.pos-relative {
  position: relative; }

.small {
  font-size: 2rem;
  line-height: 1.5; }

.smaller {
  font-size: 1.4rem;
  margin: 0; }

.title {
  font-family: "Roboto Slab";
  font-size: 11rem;
  margin-top: -5rem;
  text-align: center; }
  .title span {
    font-family: "Teko";
    font-weight: 700;
    font-size: 19rem;
    text-transform: uppercase; }

.intro-animation {
  margin-top: -12rem; }

.wrapper {
  background: white;
  border: 0.2rem dashed #7F7F7F;
  box-shadow: 0 1rem 0 rgba(49, 47, 55, 0.05);
  padding: 5rem; }

.wrapper--left {
  margin-left: 3.5rem;
  margin-right: 21rem; }

.wrapper--right {
  margin-left: 21rem;
  margin-right: 3.5rem; }

.wrapper--full {
  margin: 0 5rem; }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }

.float {
  animation: float 5s ease-in-out infinite; }

.shapes-group-1 {
  top: 0;
  left: 4rem; }

.shapes-group-2 {
  bottom: -15rem;
  right: 0; }

.wrapper-left-square {
  top: 7.5rem;
  right: -12.5rem; }

.wrapper-right-circle {
  top: 8rem;
  left: -15rem; }

.wrapper-right-circle-small {
  top: 3rem;
  left: -8rem; }

.wrapper-right-trophy {
  top: 2rem;
  left: 5rem; }

.wrapper-left-triangle {
  top: 10rem;
  right: -15rem; }

.testimonial {
  line-height: 1.3;
  margin: 0; }

.footer-twitch-sell {
  border-bottom: 2px dashed #7F7F7F;
  margin-bottom: 4rem; }

@media (max-width: 666px) {
  .ux-trophy-banner {
    min-width: 100%; }
  .title {
    font-size: 15vw;
    margin: -2rem; }
    .title span {
      font-size: 10rem; }
  .button {
    font-size: 2rem;
    padding: 1rem; }
  .small {
    font-size: 1.6rem; }
  .wrapper {
    font-size: 1.8rem;
    padding: 2rem; }
  .wrapper--right {
    margin-left: 7rem;
    margin-right: 1rem; }
  .wrapper--left {
    margin-left: 1rem;
    margin-right: 7rem; }
  .wrapper--full {
    margin: 0 1rem; }
  .max-w-210 {
    max-width: 100px; }
  .max-w-100 {
    max-width: 75px; }
  .max-w-150 {
    max-width: 75px; }
  .max-w-175 {
    max-width: 100px; }
  .max-w-200 {
    max-width: 100px; }
  .max-w-640 {
    min-width: 330px; }
  .mg-b-75 {
    margin-bottom: 1rem; }
  .mg-b-150 {
    margin-bottom: 7rem; }
  .mg-b-250 {
    margin-bottom: 10rem; }
  .mg-b-400 {
    margin-bottom: 15rem; }
  .shapes-group-1 {
    left: 0; }
  .shapes-group-2 {
    bottom: -10rem; }
  .wrapper-right-circle-small {
    left: -7rem; }
  .wrapper-right-circle {
    left: -9rem; }
  .wrapper-left-triangle {
    right: -8rem; }
  .wrapper-left-square {
    right: -6.5rem; }
  .wrapper-right-trophy {
    top: 7rem;
    left: 0; }
  .footer-twitch-sell {
    border-bottom: 1px dashed #7F7F7F;
    bottom: 5rem; }
  ol {
    margin-left: -1rem; }
  h3 {
    font-size: 2.5rem; } }

#mce-EMAIL input.email {
  border: 0.2rem dashed #7F7F7F;
  font-size: 2rem;
  height: auto;
  margin-right: 1rem;
  padding: 1.5rem; }

#mc-embedded-subscribe .button {
  border-radius: 4rem;
  font-size: 2rem;
  height: auto;
  padding: 1.5rem 5rem; }
