body {
  background: #fafafa url("http://adamruf.com/images/ux-design-contest/confetti-bg-tile.png") left top;
  color: #312F37;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  font-size: 30px;
  line-height: 1.55em; }
