/* - - - - - - - - - - - - - - - - - - - - *\
ACCORDIONS
\* - - - - - - - - - - - - - - - - - - - - */

.accordion-toggle {
  transition: all 0.3s;
}

.accordion-toggle:after {
  /* symbol for "opened" panels */
  font-family:'FontAwesome';
  content:"\f054";
  float: right;
  color: inherit;
  transition: all 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.panel-heading.collapsed .accordion-toggle:after {
  /* symbol for "collapsed" panels */
  content:"\f054";
  transition: all 0.3s;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.panel-group {
  .panel {
    background: transparent;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    &.panel-info {
      .panel-heading {
        background-color: $green;
        border: none;
        border-radius: 7px 7px 0 0;
        cursor: pointer;
        padding: 15px;
        transition: all 0.3s;
        &:hover {
          background-color: darken($green, 5%);
        }
        &.collapsed {
          border-radius: 7px;
        }
        .panel-title {
          color: $white;
          font-size: 2rem;
          @include base-font;
          font-weight: normal;
          letter-spacing: 0;
          text-transform: none;
          word-spacing: 0;
        }
      }
    }
    .panel-body {
      background: fade-out($green, 0.9);
    }
    .panel-heading+.panel-collapse .panel-body {
      border: none;
      border-radius: 0 0 7px 7px;
    }
  }
}