/* - - - - - - - - - - - - - - - - - - - - *\
BUTTONS
\* - - - - - - - - - - - - - - - - - - - - */

@mixin rounded($radius) {
  -webkit-border-radius:  $radius;
  -moz-border-radius:     $radius;
  -ms-border-radius:      $radius;
  -o-border-radius:       $radius;
  border-radius:          $radius;
}

button::-moz-focus-inner {
  border: 0;
}

button, .button {
  border-bottom: 5px solid $gray;
  @include rounded(0.7rem);
  box-shadow: 0 3px 1px 1px rgba(0,0,0,0.125);
  cursor: pointer;
  display:inline-block;
  @include base-font;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 1.1rem 1.6rem;
  position: relative;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    outline: 0;
  }
  &:active {
    border-bottom: 2px solid $gray;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
    margin-top: 3px;
  }
  &:focus {
    // box-shadow: 0 2px 0 1px rgba(0,0,0,0.2);
    outline: 0;
    text-decoration: none;
  }
}

.button-xs {
  border-bottom-width: 0.3rem;
  @include rounded(0.5rem);
  box-shadow: 0 2px 1px 1px rgba(0,0,0,0.1);
  font-size: 1.8rem;
  line-height: 0.55;
  padding: 1.2rem 1.8rem;
  &:active {
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    margin-top: 1px;
  }
  @media screen and (max-width: 703px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 299px) {
    font-size: 2rem;
  }
}

.button-lg {
  border-bottom-width: 0.6rem;
  @include rounded(1rem);
  box-shadow: 0 5px 1px 1px rgba(0,0,0,0.1);
  font-size: 3rem;
  line-height: 0.55;
  padding: 2.5rem 3rem;
  &:active {
    box-shadow: 0 3px 1px 1px rgba(0,0,0,0.1);
    margin-top: 4px;
  }
  @media screen and (max-width: 450px) {
    font-size: 2rem;
    padding: 2rem 2.5rem;
  }
}

.style-green {
  background-color: $green;
  color: $white !important;
  border-color: darken($green, 15%);
  @include text-shadow;
  &:hover {
    background-color: darken($green, 10%);
    border-bottom-color: darken($green, 18%);
  }
  &:active {
    border-color: darken($green, 15%);
  }
  &:focus {
    background-color: darken($green, 10%);
  }
}

/* - - - - - - - - - - - - - - - - - - - - *\
BACK TO THE TOP BUTTON
\* - - - - - - - - - - - - - - - - - - - - */

a.back-to-top {
  background-color: rgba(0,0,0,0.05);
  border-radius: 0.5rem 0 0 0.5rem;
  color: $black;
  display: none;
  font-size: 1.5rem;
  line-height: 1.25;
  padding: 1rem 2rem;
  position: fixed;
    bottom: 10rem;
    right: 0;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(0,0,0,0.075);
    border-bottom: none;
    color: $black;
    text-decoration: none;
  }
  @media screen and (max-width: 498px) {
    bottom: 13rem;
  }
}
