/* - - - - - - - - - - - - - - - - - - - - *\
CALL-OUTS
\* - - - - - - - - - - - - - - - - - - - - */
.call-out {
  border-radius: 1rem;
  padding: 1rem 2rem;
  a {
    color: $blue-bright;
    font-weight: inherit;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.1s ease-in-out;
    &:hover:not(.button),
    &:active:not(.button),
    &:focus:not(.button) {
      border-bottom: 2px solid $blue-bright;
      box-shadow: none;
      color: $blue-bright;
      text-decoration: none;
    }
    &:focus:not(.button) {
      outline: 10px solid rgba(57, 164, 235, 0.25);
      outline-offset: 0;
    }
  }
}

.call-out--blue {
  background: transparentize($blue-bright, 0.9);
}
