$black:         #222;
$blue:          #428bca;
$gray:          #555;
$green:         #5fcf80;
//$dark-green:  #4fca74;
//$dark-gray:   #444;
//$light-gray:  #e5e5e5;
$navbar-black:   rgba(0,0,0,0.85);
$red:           #e74c3c;
$white:         #fff;