/* - - - - - - - - - - - - - - - - - - - - *\
COLORS
\* - - - - - - - - - - - - - - - - - - - - */

$black:         		#000;
$blue:          		#428bca;
$blue-bright:       #00A8FF;
$gray:          		#555;
$green:         		#5fcf80;
$navbar-black:   		rgba(0,0,0,0.92);
$pink:              #ff0056;
$red:           		#e74c3c;
$white:         		#fff;
$yellow:            #FFD20D;
$yellow-bright:     #FFE800;

// Font Colors
$font-default: 			rgba(0,0,0,0.75);
$font-medium:       rgba(0,0,0,0.64);
$font-subtle: 			rgba(0,0,0,0.42);
$font-light-default: 	rgba(255,255,255,1);
$font-light-subtle: 	rgba(255,255,255,0.5);
