/* - - - - - - - - - - - - - - - - - - - - *\
HELPERS
\* - - - - - - - - - - - - - - - - - - - - */

.mg-b-0 {margin-bottom: 0;}

.mg-b-xxs {margin-bottom: 1rem;}

.mg-b-xs {margin-bottom: 2rem;}

.mg-b-sm {margin-bottom: 4rem;}

.mg-b-md {margin-bottom: 6rem !important;}

.mg-b-lg {margin-bottom: 10rem;}

.mg-b-xl {
  margin-bottom: 16rem;
}

.mg-b-xxl {margin-bottom: 60rem;}

.pd-t-sm {padding-top: 4rem;}

.pd-t-lg {padding-top: 10rem;}

.no-overflow {overflow: hidden;}

.no-shadow, .no-shadow:hover, .no-shadow:focus, .no-shadow:active {box-shadow: none !important;}

.faded-50p {opacity: 0.5;}

.faded-75p {opacity: 0.25;}

.fixed {position: fixed;}

.gray-text {color: #ccc;}

.pos-abs {position: absolute;}

.pos-rel {position: relative;}

.affix {top: 3em;}

.affix-bottom {position: absolute;}

.anchor {
  display: block;
  margin-top: -100px;
  padding-bottom: 140px;
}

.bordered-top {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 2rem;
}

.strong {
  font-weight: bold;
}

.tipped {
  cursor: help;
}

.padded {
  padding: 0 20px;
}

.recent-work.padded {
  padding: 0 1em 1.5em;
}

.scrollable {
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1), inset 0 1px 0 0 rgba(0,0,0,0.1);
  height: 13em;
  overflow-y: auto;
}

.shadowy {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
}

.fill-width {
  width: 100%;
}

.error-page-message {
  @include base-font;
  font-size: 1.2em;
  line-height: 1.4em;
  &.lead {
    @include slab-font;
    font-size: 1.5em;
    font-weight: 600;
  }
  & a {
    font-weight: 300;
  }
}

.z-0 {
  z-index: 0;
}

.z-n-1 {
  z-index: -1;
}

.text--tiny {
  font-size: 1.4rem;
}
