/* - - - - - - - - - - - - - - - - - - - - *\
TOOLTIPS
\* - - - - - - - - - - - - - - - - - - - - */

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $navbar-black;
}

.tooltip-inner {
  background-color: $navbar-black;
  @include base-font;
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 450px;
  padding: 4px 8px !important;
  text-transform: none;
}