/* - - - - - - - - - - - - - - - - - - - - *\
TYPOGRAPHY
\* - - - - - - - - - - - - - - - - - - - - */

@mixin base-font {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
}
@mixin slab-font {
  font-family: "Roboto Slab"
}
@mixin icon-font {
  font-family: "FontAwesome", "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
}
@mixin text-shadow {
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

body {
  line-height: 1.4;
}

h1, h2 {
  @include slab-font
  line-height: 1.1;
}

h1 {
  color: darken($green, 10%); //#73AF7D
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: -0.2rem;
  margin: 0 0 3rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: normal;
  margin: 0 0 2rem;
}

h2 .muted {
  font-size: 0.4em;
  vertical-align: baseline;
}

h3 {
  @include base-font
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

h4, h5 {
  @include base-font;
  font-size: 2.3rem;
  font-weight: normal;
  margin-bottom: 1.5%;
}

h5 {
  font-size: 1.618em;
  margin-bottom: 1.5%;
}

p {
  font-size: 2.1rem;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 1em;
}

a {
  color: #00A8FF;
  font-weight: normal;
  &:hover:not(.button),
  &:active:not(.button),
  &:focus:not(.button) {
    border-bottom: 1px solid rgba(66, 182, 101, 0.5);
    color: #42B665;
    text-decoration: none;
  }
}

blockquote {
  margin-top: -2em;
  p {
    color: #555 /*#4fca74*/;
    @include slab-font;
    font-size: 22px;
    font-style: italic;
    line-height: 1.35em;
  }
}

ul {margin: 0 0 1.5em;}

.container li {
  font-size: 2.1rem;
  font-weight: normal;
  margin: 1.2rem 0.3rem 0;
}

header {
  h1 {
    display: inline-block;
    font-size: 5.5em;
    margin: 0 0 10px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  }
  a, a:hover, a:active, a:focus {text-decoration: none;}
}

.text-muted {color: rgba(0,0,0,0.25);}

.green-text {color: $green;}

.at-sign {
  color: rgba(0,0,0,0.2);
  font-size: 2rem;
}

strong {font-weight: bold;}
