/* - - - - - - - - - - - - - - - - - - - - *\
UTILITY BELT
\* - - - - - - - - - - - - - - - - - - - - */

#utility-belt {
  background: url('http://adamruf.com/images/utility-belt-bg-tile@2x.png') 0 100px repeat-x;
  background-repeat: repeat-x;
  background-size: 1px 177px;
  display: none;
  margin: -4.75em 0 5em;
  text-align: center;
  @media screen and (min-width: 750px) {
    display: block;
  }
}

.utility-pouch {
  background: url('http://adamruf.com/images/utility-belt-sprite@2x.png') -13px 0 no-repeat;
  background-size: 1100px;
  display: inline-block;
  height: 300px;
  margin: 0;
  width: 180px;
}

#utility-pouch-1:hover {
  background-position: -195px 0;
  background-size: 1100px;
}

#utility-pouch-2:hover {
  background-position: -375px 0;
  background-size: 1100px;
}

#utility-pouch-3:hover {
  background-position: -555px 0;
  background-size: 1100px;
}

#utility-pouch-4:hover {
  background-position: -735px 0;
  background-size: 1100px;
}

#utility-pouch-5 {
  @media screen and (max-width: 950px) {
      display: none;
    }
  &:hover {
    background-position: -915px 0;
    background-size: 1100px;
  }
}