//////* VARIABLES */////

//* COLORS *//
html {
  --white:                   hsla(0, 100%, 100%, 1) !important;
  --black:                   hsla(132, 40%, 5%, 1) !important;
  --background--primary:     hsla(0, 100%, 100%, 1) !important;
  --background--secondary:   hsla(0, 0%, 100%, 1) !important;
  --text:                    hsla(132, 40%, 5%, 0.9) !important;
  --text--light:             hsla(132, 40%, 5%, 0.7) !important;
  --text--subtle:            hsla(132, 40%, 5%, 0.55) !important;
  --text--placeholder:       hsla(132, 40%, 5%, 0.35) !important;
  --text--dark-1:            hsla(132, 40%, 5%, 0.9) !important;
  --text--dark-2:            hsla(132, 40%, 5%, 0.7) !important;
  --text--dark-3:            hsla(132, 40%, 5%, 0.55) !important;
  --text--dark-4:            hsla(132, 40%, 5%, 0.35) !important;
  --link:                    hsla(235, 100%, 67%, 1) !important;

  --border:                  hsla(132, 31%, 13%, 0.07) !important;
  --border--gray:            hsla(120, 3%, 83%, 1) !important;
  --button--primary:         hsla(235, 100%, 72%, 1) !important;
  --button--secondary:       hsla(210, 10%, 96%, 1) !important;

  --red:                     hsla(345, 100%, 75%, 1) !important;
  --orange:                  hsla(37, 100%, 75%, 1) !important;
  --gold:                    hsla(53, 100%, 65%, 1) !important;
  --yellow:                  hsla(59, 100%, 75%, 1) !important;
  --green:                   hsla(147, 100%, 75%, 1) !important;
  --blue:                    hsla(184, 100%, 75%, 1) !important;
  --blurple:                 hsla(235, 100%, 72%, 1) !important;
  --purple:                  hsla(266, 100%, 79%, 1) !important;

  --red--light:             hsla(346, 100%, 87%, 1) !important;
  --orange--light:          hsla(37, 100%, 87%, 1) !important;
  --yellow--light:          hsla(59, 100%, 87%, 1) !important;
  --green--light:           hsla(147, 100%, 87%, 1) !important;
  --blue--light:            hsla(185, 100%, 87%, 1) !important;
  --blurple--light:         hsla(235, 100%, 86%, 1) !important;
  --purple--light:          hsla(266, 100%, 90%, 1) !important;

  --red--pale:              hsla(344, 100%, 96%, 1) !important;
  --orange--pale:           hsla(38, 100%, 96%, 1) !important;
  --yellow--pale:           hsla(60, 100%, 96%, 1) !important;
  --green--pale:            hsla(148, 100%, 96%, 1) !important;
  --blue--pale:             hsla(183, 100%, 96%, 1) !important;
  --blurple--pale:          hsla(234, 100%, 96%, 1) !important;
  --purple--pale:           hsla(264, 100%, 97%, 1) !important;

  --red--dark:              hsla(345, 73%, 47%, 1) !important;
  --orange--dark:           hsla(37, 73%, 47%, 1) !important;
  --yellow--dark:           hsla(59, 100%, 65%, 1) !important;
  --green--dark:            hsla(147, 80%, 43%, 1) !important;
  --blue--dark:             hsla(185, 80%, 43%, 1) !important;
  --blurple--dark:          hsla(235, 82%, 43%, 1) !important;
  --purple--dark:           hsla(266, 54%, 51%, 1) !important;
}

html[data-theme='dark'] {
  --background--primary:     hsla(240, 19%, 11%, 1) !important;
  --background--secondary:   hsla(240, 11%, 16%, 1) !important;
  --text:                    hsla(360,100%,100%,0.9) !important;
  --text--light:             hsla(360,100%,100%,0.7) !important;
  --text--subtle:            hsla(360,100%,100%,0.4) !important;
  --text--placeholder:       hsla(360,100%,100%,0.2) !important;

  --border:                  hsla(360,100%,100%,0.07) !important;
  --border--gray:            hsla(120, 3%, 83%, 1) !important;
  --button--secondary:       hsla(210, 10%, 96%, 1) !important;
  --button--primary:         hsla(235, 100%, 72%, 1) !important;
  --link:                    hsla(235, 100%, 67%, 1) !important;
}

//* TEXT COLORS *//
.text--dark-2 {
  color: var(--text--dark-2) !important;
}

//* FILLS *//
.fill--red      { fill: var(--red); }
.fill--orange   { fill: var(--orange); }
.fill--yellow   { fill: var(--yellow); }
.fill--green    { fill: var(--green); }
.fill--blue     { fill: var(--blue); }
.fill--purple   { fill: var(--purple); }
.fill--black    { fill: var(--text); }


//* FONTS *//
$font--heading: Montserrat;
$font--sans-serif: 'Open Sans', sans-serif;
$font--serif: Times, 'Times New Roman', serif;
$font--icons: 'Font Awesome 5 Solid';

.font-montserrat {
  font-family: Montserrat;
}

//* ELEVATION *//
$elevation-1: 0 1px 3px rgba(0,0,0,0.08), 0 4px 6px rgba(50,78,93,0.11);
// $elevation-2: 0 3px 6px rgba(0,0,0,0.04), 0 7px 14px rgba(50,78,93,0.0925);
// $elevation-3: 0 5px 15px rgba(0,0,0,0.02), 0 15px 35px rgba(50,78,93,0.0275);
$elevation-2: 0 3px 6px rgba(0,0,0,0.07), 0 7px 14px rgba(50,78,93,0.1);
$elevation-3: 0 5px 15px rgba(0,0,0,0.06), 0 15px 35px rgba(50,78,93,0.09);
$elevation-4: 0 10px 30px rgba(0,0,0,0.05), 0 30px 70px rgba(50,78,93,0.08);

/////* MIX-INS */////
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

html {
  font-size: 62.5%;
  @media screen and (max-width: 400px){
    font-size: 58%;
  }
}

body {
  background: var(--background--primary);
  color: var(--text);
  @include font-size(1.6);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 1.618;
}

.serif {
  font-family: Times, 'Times New Roman', serif;
}

*:focus {
  outline: none !important;
}

::selection {
  background: var(--yellow); /* Webkit */
  color: var(--black);
  text-shadow: none;
}
::-moz-selection {
  background: var(--yellow); /* Firefox */
  color: var(--black);
  text-shadow: none;
}

h1,h2,h3,h4,h5 {
  font-family: Montserrat;
  font-weight: 700;
  /* letter-spacing: -0.05rem; */
}

h1,
.text--lg {
  @include font-size(3.8);
  line-height: 1.1;
  @media screen and (max-width: 600px) {
    @include font-size(3.4);
  }
}

h2 {
  @include font-size(3);
  line-height: 1.1;
}

.small-heading {
  @include font-size(2);
  color: var(--text--subtle);
  font-family: $font--sans-serif;
  font-weight: normal;
}

.heading--xs {
  @include font-size(1.6);
  color: var(--text--subtle);
  font-family: $font--sans-serif;
  font-weight: normal;
}

p {
  color: var(--text);
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 2.618rem;
}

ul {
  margin-bottom: 2.618rem;
}

li {
  color: var(--text--light);
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1.618rem;
}

abbr {
  text-decoration: underline dotted var(--text--subtle) !important;
  text-decoration-skip-ink: none;
}

.label {
  // background-color: transparentize($blue,0.85);
  background: var(--button--secondary);
  border-radius: 2rem;
  // box-shadow: $elevation-1;
  color: var(--text);
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.8rem 0.4rem;
  padding: 1rem 2rem;
}

.label--red { background: hsla(345, 100%, 75%, 0.15); }
.label--yellow { background: hsla(59, 100%, 75%,0.15); }
.label--green { background: hsla(147, 100%, 75%, 0.15); }
.label--blue { background: hsla(184, 100%, 75%, 0.15); }
.label--blurple { background: hsla(235, 100%, 72%, 0.15); }
.label--purple { background: hsla(266, 100%, 79%, 0.15); }

.has-tooltip {
  line-height: 1;
  margin-bottom: -2rem;
  display: inline-block;
  &.has-tooltip--blurple {
    border-bottom: 3px dashed hsla(235, 100%, 72%, 0.33);
  }
  &.has-tooltip--purple {
    border-bottom: 3px dashed hsla(266, 100%, 79%, 0.33);
  }
  &.has-tooltip--black {
    border-bottom: 3px dashed hsla(132, 19%, 11%, 0.33);
  }
}

.tooltip-inner {
  background-color: var(--background--secondary) !important;
  border-radius: 0.6rem;
  box-shadow: $elevation-2;
  color: var(--text--light);
  font-size: 1.4rem;
  font-weight: 700;
  max-width: 600px;
  opacity: 1 !important;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: var(--background--primary) !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: var(--background--primary) !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: var(--background--primary) !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: var(--background--primary) !important;
}


.strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.text--xs {
  font-size: 1.2rem;
}

.text--sm {
  font-size: 1.4rem;
}

//* BLURRED TEXT *//
.text--blur {
  filter: blur(3px);
  transition: all 1s ease-in-out;
}

.remove-blur:hover,
.remove-blur:focus {
  .text--blur {
    filter: none;
    transition: all 1s ease-in-out;
  }
}

a {
  color: var(--link);
  transition: all .2s ease-in-out;

  &.link--subtle {
    color: var(--text--subtle);
  }

  &.link--padded {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  &.nav-link {
    color: var(--text) !important;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus,
    &:active {
      background: hsla(235, 100%, 67%, 0.05);
      border-bottom: none;
      border-radius: 0.5rem;
      color: var(--link) !important;
    }
  }

  &.help-wanted {
    background: hsla(59, 100%, 75%, 0.95);
    border-bottom: none;
    border-radius: 0.5rem;
    color: var(--text) !important;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus,
    &:active {
      background: var(--yellow);
      border-bottom: none;
      border-radius: 0.5rem;
      color: var(--text) !important;
      transition: all 0.3s ease-in-out;
    }
  }

  &.link--arrow:after {
    background-image: url('https://adamruf.com/images/2018-refresh/link-arrow.svg');
    background-repeat: no-repeat;
    content: "";
    color: hsla(235, 100%, 67%, 0.5);
    display: inline-block;
    height: 1.2rem;
    opacity: 0;
    padding-right: 3.3rem;
    transform: translateX(-1rem);
    transition: all .3s ease-in;
    width: 2rem;
  }

  &.link--arrow-green:after {
      background-image: url('https://adamruf.com/images/2018-refresh/green-arrow.svg');
    }

  &:hover,
  &:active,
  &:focus {
    background-color: hsla(235, 100%, 67%, 0.05);
    border-bottom: 1px solid hsla(235, 100%, 67%, 0.5);
    color: var(--link);
    text-decoration: none;
    transition: background-color .2s ease-in;

    &.link--subtle {
      background: hsla(132,31,13,0.67);
      color: var(--text--light);
    }

    &.link--arrow {
      border-radius: 0.5rem;
      border-bottom: none;
    }

    &.link--arrow:after {
      border-radius: 0.5rem;
      border-bottom: none;
      opacity: 1;
      transform: translateX(1rem);
      transition: all .3s ease-out;
    }
  }

  &.link--white {
    color: var(--white);
    &:hover,
    &:active,
    &:focus {
      background: --link;
      border-bottom: none;
    }
  }
}

.nav-item {
  margin: 0;
}

.nav--active .nav-link {
  background: hsla(235, 100%, 67%, 0.05);
  border-radius: 0.5rem;
  &:hover,
  &:active {
    background: hsla(235, 100%, 67%, 0.1);
  }
  &:focus {
    background: hsla(235, 100%, 67%, 0.05);
    box-shadow: 0 0 1rem 1rem hsla(235, 100%, 67%, 0.15);
  }
}

.link--image {
  background: none !important;
  &:hover,
  &:active {
    border: none;
  }
  &:focus {
    border: none;
    box-shadow: none;
    -webkit-filter: drop-shadow(0 0 7px var(--red--light));
    filter: drop-shadow(0 0 7px var(--red--light));
    outline: none;
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
    &:after {
      border: none;
    }
  }
}

.link--button {
  &:after {
    background-image: url('https://adamruf.com/images/2018-refresh/right-arrow.svg');
    background-repeat: no-repeat;
    content: "";
    color: hsla(132,31,13,0.4);
    display: inline-block;
    height: 1.2rem;
    opacity: 1;
    transform: translateX(1rem);
    width: 2rem;
  }
}

.link--red {
  color: hsla(345, 100%, 68%, 1);
  &:hover,
  &:focus,
  &:active {
    background: hsla(345, 100%, 75%, 0.15);
    border-color: hsla(345, 100%, 75%, 0.5);
    border-radius: 0;
    color: hsla(345, 100%, 68%, 1) !important;
  }
}

.link--orange {
  color: hsla(37, 100%, 68%, 1);
  &:hover,
  &:focus,
  &:active {
    background: hsla(37, 100%, 75%, 0.15);
    border-color: hsla(37, 100%, 75%, 0.5);
    border-radius: 0;
    color: hsla(37, 100%, 68%, 1) !important;
  }
}

.link--yellow {
  color: hsla(59, 100%, 68%, 1);
  &:hover,
  &:focus,
  &:active {
    background: hsla(59, 100%, 75%, 0.15);
    border-color: hsla(59, 100%, 75%, 0.5);
    border-radius: 0;
    color: hsla(59, 100%, 68%, 1) !important;
  }
}

.link--green {
  color: hsla(147, 100%, 53%, 1);
  &:hover,
  &:focus,
  &:active {
    background: hsla(147, 100%, 75%, 0.15);
    border-color: hsla(147, 100%, 75%, 0.5);
    border-radius: 0;
    color: hsla(147, 100%, 53%, 1) !important;
  }
}

.link--blue {
  color: hsla(184, 100%, 68%, 1);
  &:hover,
  &:focus,
  &:active {
    background: hsla(184, 100%, 75%, 0.15);
    border-color: hsla(184, 100%, 75%, 0.5);
    border-radius: 0;
    color: hsla(184, 100%, 68%, 1) !important;
  }
}

.link--purple {
  color: hsla(266, 100%, 71%, 1);
  &:hover,
  &:focus,
  &:active {
    background: hsla(266, 100%, 79%, 0.15);
    border-color: hsla(266, 100%, 79%, 0.5);
    border-radius: 0;
    color: hsla(266, 100%, 71%, 1) !important;
  }
}

.text--blurple { color: var(--blurple); }
.text--placeholder { color: var(--text--placeholder); }

.text--red { color: var(--red); }
.text--orange { color: var(--orange); }
.text--yellow { color: var(--yellow--dark); }
.text--green { color: var(--green); }
.text--blue { color: var(--blue); }
.text--blurple { color: var(--blurple); }
.text--purple { color: var(--purple); }

.text--subtle { color: var(--text--subtle); }

.text-shadow--red { text-shadow: 0 2px 6px var(--red--dark); }
.text-shadow--orange { text-shadow: 0 2px 6px var(--orange--dark); }
.text-shadow--yellow { text-shadow: 0 2px 6px var(--yellow--dark); }
.text-shadow--green { text-shadow: 0 2px 6px var(--green--dark); }
.text-shadow--blue { text-shadow: 0 2px 6px var(--blue--dark); }
.text-shadow--blurple { text-shadow: 0 2px 6px var(--blurple); }
.text-shadow--purple { text-shadow: 0 2px 6px var(--purple--dark); }

/* TOP NAV */
.nav-icon {font-size: 2rem;}

.navbar-light {
  background: var(--background--primary);
  min-height: 70px;
  padding: 2rem 6rem !important;
  @media screen and (max-width: 575px) {
    min-height: 70px;
    padding: 2rem 4rem !important;
  }
  @media screen and (min-width: 768px) {
    min-height: 86px;
  }
}

/* Styles that allow top nav to scroll */
@media (max-width: 500px) {
  .bd-navbar .navbar-nav-scroll {
    font-size: 1.6rem;
    height: 3.5rem;
    max-width: 100%;
    overflow: hidden;
  }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .fade-out--left:before {
    content:'';
    width: 2rem;
    height: 100%;
    position:absolute;
    left: 4rem;
    bottom:0;
    background: linear-gradient(to right, white, transparent);
    z-index: 1;
  }
  .fade-out--right:before {
    content:'';
    width: 2rem;
    height: 100%;
    position:absolute;
    right: 4rem;
    bottom:0;
    background: linear-gradient(to left, white, transparent);
    z-index: 1;
  }
}


/* READING PROGRESS BAR */


/* Lists */
.img-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img-bullets--gem {
  background: url('https://adamruf.com/images/2018-refresh/bullet--gem.svg') no-repeat left 6px / 20px 18px;
  // height: 22px;
  // line-height: 16px;
  padding-left: 2.5rem;
}

header {
  @include font-size(1.6);
  font-family: Montserrat;
  font-weight: 700;
}
header a {
  color: var(--text);

  &:hover,
  &:focus,
  &:active {color: var(--link);}
}

.testimonial-message {
  @include font-size(3);
  color: var(--text--light);
  font-family: Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  line-height: 1.1;
}

.m-x-auto {
  @include push--auto;
}

/////* FORMS */////

.ar-input--text {
  border: 1px solid var(--white);
  box-shadow: $elevation-1;
  color: var(--link) !important;
  font-size: 1.8rem;
  height: 57px;
  min-width: 33rem;
  border-radius: 0.4rem 0 0 0.4rem;
  padding: 1.5rem;
  transition: all 0.2s ease-in-out;
  &:focus {
    border: 1px solid var(--white) !important;
    border-bottom: 4px solid hsla(235, 100%, 72%, 0.5) !important;
    box-shadow: $elevation-1;
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: var(--text--placeholder);
  }
  @media screen and (max-width: 585px){
    border-radius: 0.4rem;
    width: 100% !important;
  }
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  padding-top: 0.25rem;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 30px; height: 30px;
  border: 3px solid hsla(266, 100%, 79%, 0.5);
  background: var(--background--primary);
  border-radius: 4px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: -11px;
  left: 5px;
  font-size: 4rem;
  color: hsla(266, 100%, 71%, 1);
  line-height: 1;
  transition: all .2s ease-in-out;
  text-shadow: 1px 2px 2px hsla(132,31,13,0.45);
}

.check--water + label:after {
  content: '🚰' !important;
  position: absolute;
  left: -10px !important;
  top: -5px !important;
}

.check--speak + label:after {
  content: '🗣️' !important;
  color: hsla(266, 100%, 71%, 1);
  position: absolute;
  left: -5px !important;
  top: -8px !important;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: 0 0 10px hsla(266, 100%, 79%, 0.5);
}

/* hover style just for information */
label:hover:before {
  border: 3px solid var(--purple) !important;
}



.button {
  background-color: var(--button--secondary);
  border: none;
  border-radius: 0.5rem;
  box-shadow: $elevation-1;
  color: var(--text--dark-2) !important;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  /* min-width: 236px; */
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  padding: 1.5rem 3rem;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: hsla(210, 10%, 97%, 1);
    border: none;
    box-shadow: $elevation-2;
    text-decoration: none;
    transform: translateY(-1px);
    transition: all 0.15s ease-in-out;

  }
  &:focus {
    box-shadow: $elevation-2, 0 0 3rem 1rem hsla(235, 100%, 67%, 0.1);
  }

  &:active {
    box-shadow: $elevation-1;
    transform: translateY(1px);

    &:focus {
      transform: translateY(0px);
    }
  }
}

.button--primary {
  background-color: var(--button--primary);
  color: #fff !important;
  text-shadow: 0 1px 3px rgba(77, 90, 228, 0.44);

  &:hover,
  &:focus {
    background-color: hsla(235, 100%, 70%, 1);
  }
}

.button--red {
  background-color: var(--red--light);
  color: var(--white) !important;
  text-shadow: 0 1px 3px var(--red--dark);

  &:hover,
  &:focus {
    background-color: hsla(346, 100%, 86%, 1);
  }

  &:focus {
    box-shadow: $elevation-2, 0 0 3rem 1rem hsla(345, 100%, 75%, 0.1);
  }
}

.button--green {
  background-color: var(--green--light);
  color: var(--white) !important;
  text-shadow: 0 1px 3px var(--green--dark);

  &:hover,
  &:focus {
    background-color: hsla(147, 100%, 73%, 1);
  }

  &:focus {
    box-shadow: $elevation-2, 0 0 3rem 1rem hsla(147, 100%, 75%, 0.1);
  }
}

.back-to-top {
  background-color: var(--blue--pale);
  border-radius: 1rem;
  border: none;
  box-shadow: $elevation-2;
  color: var(--black);
  display: none;
  font-size: 1.8rem;
  font-variant: all-small-caps;
  line-height: 1;
  padding: 0 1.5rem 1rem;
  position: fixed;
    bottom: 15rem;
    right: -0.5rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px hsla(132, 19%, 11%, 0.1);
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
  &:hover,
  &:active,
  &:focus {
    background-color: var(--blue--light);
    // background-image: linear-gradient($blue--pale, $blue--light);
    border-bottom: none;
    box-shadow: $elevation-3;
    color: var(--black);
    text-decoration: none;
    transform: translateY(-1px);
  }
  span {
    font-size: 4rem;
  }
  @media screen and (max-width: 400px) {
    display: none !important;
  }
}

.nav-pills .nav-link {
  background: transparent;
  border: none;
  border-radius: 0.5rem !important;
  color: var(--text--light);
  padding: 1rem 1.5rem;
  transition: 0.15s ease;

  &:hover,
  &:focus {
    background: hsla(235, 100%, 72%, 0.1);
    color: var(--link) !important;
  }

  &.active {
    background: var(--button--primary);
    // border-bottom: 3px solid var(--link);
    color: var(--white) !important;
    &:focus {
      box-shadow: 0 0 3rem 1rem hsla(235, 100%, 67%, 0.15);
    }
  }
}

// .toggle--left {
//   border-radius: 6px 0 0 6px !important;
// }

// .toggle--right {
//   border-radius: 0 6px 6px 0 !important;
// }

.ar-submit {
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 1.4rem 3rem;
  &:hover {
    background: hsla(235, 100%, 70%, 1);
    // color: var(--link) !important;
    transform: translateY(0);
  }
  &:focus {transform: translateY(0);}
  @media screen and (max-width: 585px){
    border-radius: 0.5rem;
    margin-top: -1rem;
    width: 100%;
  }
}

.cta-text {
  @include font-size(1.8);
  color: var(--text--light);
}

.ar-alert {
  background: var(--button--secondary);
  border: 5px solid transparent;
  border-radius: 1rem;
  box-shadow: $elevation-1;
  display: block;
  font-family: 'Montserrat';
  font-weight: 500;
  padding: 2rem;
  position: relative;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
  // transition: all 0.3s ease-in-out;

  // &::after {
  //   content: "";
  //   border-radius: 1rem;
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   box-shadow: $elevation-2;
  //   opacity: 0;
  //   transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // }

  &:hover {
    transform: translateY(-1px) !important;
  }

  &:hover,
  &:focus {
    box-shadow: $elevation-2;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    will-change: transform;
    // transform: scale(1.1) translateY(-1px);

    &:after {
      opacity: 1;
    }
  }
}

.ar-alert_icon {
  display: inline-block;
  font-size: 4rem;
  margin-right: 1.5rem;
  min-width: 4rem;
  vertical-align: top;
}

.ar-alert_text {
  color: var(--text--dark-2);
  display: inline-block;
  margin: 0;
  max-width: 400px;
  width: 85%;
  @media screen and (max-width: 426px){
    width: 75%;
  }
}

.ar-bg--red {
  background: var(--red--pale) !important;
  &:hover,
  &:active,
  &:focus {
    border-color: hsla(345, 100%, 75%, 0.1);
  }
}
.ar-bg--orange {
  background: var(--orange--pale) !important;
  &:hover,
  &:active,
  &:focus {
    border-color: hsla(37, 100%, 75%, 0.1);
  }
}
.ar-bg--yellow {
  background: var(--yellow--pale) !important;
  &:hover,
  &:active,
  &:focus {
    border-color: hsla(53, 100%, 65%, 0.25);
  }
}
.ar-bg--green {
  background: var(--green--pale) !important;
  &:hover,
  &:active,
  &:focus {
    border-color: hsla(147, 100%, 75%, 0.25);
  }
}
.ar-bg--blue {
  background: var(--blue--pale) !important;
  &:hover,
  &:active,
  &:focus {
    border-color: hsla(184, 100%, 75%, 0.25);
  }
}
.ar-bg--purple {
  background: var(--purple--pale) !important;
  &:hover,
  &:active,
  &:focus {
    border-color: hsla(266, 100%, 79%, 0.1);
  }
}

.ar-alert--sm {
  max-width: 50rem;
}

.elevation-1 {
  box-shadow: $elevation-1;
}

.elevation-2 {
  box-shadow: $elevation-2;
}

.elevation-3 {
  box-shadow: $elevation-3;
}

.text-shadow-1 {
  text-shadow: $elevation-1;
}

.svg-elevation-1 {
  // -webkit-filter:drop-shadow(0 1px 3px rgba(0,0,0,0.08)) drop-shadow(0 4px 6px rgba(50,78,93,0.11));
  filter:drop-shadow(0 0.1rem 0.3rem rgba(0,0,0,0.08)) drop-shadow(0 0.4rem 0.6rem rgba(50,78,93,0.11));
}

.svg-elevation-2 {
  // -webkit-filter:drop-shadow(0 5px 15px rgba(0,0,0,0.07)) drop-shadow(0 15px 35px rgba(50,78,93,0.1));
  filter:drop-shadow(0 0.5rem 1.5rem rgba(0,0,0,0.07)) drop-shadow(0 1.5rem 3.5rem rgba(50,78,93,0.1));
}

.svg-shadow--gem {
  -webkit-filter:drop-shadow(-5px 10px 14px rgba(0,0,0,0.09)) drop-shadow(-15 60px 25px rgba(50,78,93, 0.1));
  filter:drop-shadow(-5px 10px 14px rgba(0,0,0,0.09)) drop-shadow(-15px 60px 25px rgba(50,78,93,0.1));
}

.no-overflow-x {
  overflow-x: hidden;
}

.fade {
  transition: opacity .3s ease-in-out;
}

.fade-top {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.fade-bottom {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.opacity-100 {
  opacity: 1 !important;
}




/* BACKGROUNDS */

.background--red       { background: var(--red); }
.background--orange    { background: var(--orange); }
.background--yellow    { background: var(--yellow); }
.background--green     { background: var(--green); }
.background--blue      { background: var(--blue); }
.background--purple    { background: var(--purple); }

.background--red-light       { background: var(--red--light); }
.background--orange-light    { background: var(--orange--light); }
.background--yellow-light    { background: var(--yellow--light); }
.background--green-light     { background: var(--green--light); }
.background--blue-light      { background: var(--blue--light); }
.background--purple-light    { background: var(--purple--light); }

.background-pattern {
  height: 100%;
  width: 100%;
}

.background-pattern--dots {
  background-image: url('https://adamruf.com/images/2018-refresh/dot-pattern.svg');
}

.background-pattern--emoji-hands {
  background-image: url('https://adamruf.com/images/2018-refresh/emoji-hands@2x.png');
  background-size: 540px;
  opacity: 0.25;
}

.background-pattern--shapes {
  background-image: url('https://adamruf.com/images/2018-refresh/shape-pattern.svg');
}

.background-pattern--shapes-dots {
  background-image: url('https://adamruf.com/images/2018-refresh/shape-pattern.svg'), url('https://adamruf.com/images/2018-refresh/dot-pattern.svg');
}

.background-pattern--shapes-fade {
  background-image: url('https://adamruf.com/images/2018-refresh/fade-to-white.png'), url('https://adamruf.com/images/2018-refresh/shape-pattern-2.svg');
}

.background-pattern--dots {
  background-image: url('https://adamruf.com/images/2018-refresh/dot-pattern.svg');
}

.background-pattern--shapes {
  background-image: url('https://adamruf.com/images/2018-refresh/shape-pattern.svg');
}

.background-pattern--curved-path-1 {
  background-image: url('https://adamruf.com/images/2018-refresh/curved-path-01.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-pattern--purple-rocks-left {
  background-image: url('https://adamruf.com/images/2018-refresh/purple-rocks-left@2x.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 371px;
  bottom: 25rem;
  filter: drop-shadow(0 -1rem 15rem --purple);
  left: -10rem;

}
.background-pattern--purple-rocks-right {
  background-image: url('https://adamruf.com/images/2018-refresh/purple-rocks-right@2x.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 385px;
  bottom: 25rem;
  filter: drop-shadow(0 -1rem 15rem --purple);
  right: -10rem;
}

.background-pattern--low-poly {
  background-image: url('https://adamruf.com/images/2018-refresh/low-poly-pattern.svg');
}

.clip-path--2 {
  background: linear-gradient(45deg, rgba(130,149,255,1) 0%, rgba(131,211,255,1) 100%);
  bottom: 0;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%;
}

.clip-path--2__shadow-1 {
  background: linear-gradient(45deg, rgba(130,149,255,0.1) 0%, rgba(131,211,255,0.1) 100%);
  bottom: 3rem;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%;
}

.background-image--shapes-1 {
  background-image: url('https://adamruf.com/images/2018-refresh/shape-pattern.svg');
  background-position: left top;
  background-repeat: repeat;
  background-size: cover;
}

.background-image {
  background-position: left top;
  background-size: cover;
}

.background-center {
  background-position: center center;
}

.background-image--curved-path-1 {
  background-image: url('https://adamruf.com/images/2018-refresh/curved-path-01.svg');
      background-position: left 18rem;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: -3;
}

.current-project_background-image {
  height: 234px;
  @media screen and (max-width: 580px){
    height: 155px;
  }
}

.volunteer-background-image {
  height: 200px;
}

.volunteer-placeholder--red {
  background-image: url('../images/2018-refresh/volunteer-placeholder-red@2x.png');
}
.volunteer-placeholder--yellow {
  background-image: url('../images/2018-refresh/volunteer-placeholder-yellow@2x.png');
}
.volunteer-placeholder--green {
  background-image: url('../images/2018-refresh/volunteer-placeholder-green@2x.png');
}
.volunteer-placeholder--blue {
  background-image: url('../images/2018-refresh/volunteer-placeholder-blue@2x.png');
}
.volunteer-placeholder--purple {
  background-image: url('../images/2018-refresh/volunteer-placeholder-purple@2x.png');
}


.volunteer--caroline {
  background-image: url('../images/2018-refresh/volunteer--caroline.png');
}
.volunteer--chris {
  background-image: url('../images/2018-refresh/volunteer--chris.png');
}
.volunteer--claudia {
  background-image: url('../images/2018-refresh/volunteer--claudia.png');
}
.volunteer--deepak {
  background-image: url('../images/2018-refresh/volunteer--deepak.png');
}
.volunteer--lauro {
  background-image: url('../images/2018-refresh/volunteer--lauro.png');
}
.volunteer--robin {
  background-image: url('../images/2018-refresh/volunteer--robin.png');
}


.background-image--job-hunt {
  background-image: url('../images/2018-refresh/job-hunt@2x.png');
}
.background-image--angellist {
  background-image: url('../images/2018-refresh/joined-angellist@2x.png')
}
.background-image--trivia-game {
  background-image: url('../images/2018-refresh/adam-ruf-trivia-game.gif');
}
.background-image--portfolio-reviews {
  background-image: url('../images/2018-refresh/portfolio-reviews@2x.png');
}
.background-image--ux-design-contest {
  background-image: url('../images/2018-refresh/ux-design-contest@2x.png');
}
.background-image--ux-design-contest-7 {
  background-image: url('../images/2018-refresh/ux-design-contests/ux-design-contest-7@2x.png');
}
.background-image--zero-to-portfolio {
  background-image: url('../images/2018-refresh/zero-to-portfolio@2x.png');
  height: 234px;
  @media screen and (max-width: 580px){
    height: 155px;
  }
}
.background-image--digital-cartoons {
  background-image: url('../images/2018-refresh/digital-cartoons@2x.png');
}

.background-image--twitch {
  background-image: url('../images/2018-refresh/twitch@2x.png');
}
.background-image--yahoo {
  background-image: url('../images/2018-refresh/yahoo@2x.png');
}
.background-image--brightroll {
  background-image: url('../images/2018-refresh/brightroll@2x.png');
}
.background-image--usertesting {
  background-image: url('../images/2018-refresh/usertesting@2x.png');
}
.background-image--designlab {
  background-image: url('../images/2018-refresh/designlab@2x.png');
}
.background-image--aau {
  background-image: url('../images/2018-refresh/aau@2x.png');
}
.background-image--cascade {
  background-image: url('../images/2018-refresh/cascade@2x.png');
}
.background-image--ux-design-contest-alt {
  background-image: url('../images/2018-refresh/uxd-contests.png');
}
.background-image--dialogue-flow-tool {
  background-image: url('../images/2018-refresh/dialogue-flow-tool-alt.png');
}
.background-image--trip-idea-generator {
  background-image: url('../images/2018-refresh/trip-idea-generator-alt.png');
}
.background-image--trivia-game {
  background-image: url('../images/2018-refresh/adam-ruf-trivia-game.gif');
}


// Volunteer Images
.background-image--raj-jangra {
  background-image: url('https://adamruf.com/images/adam-ruf-larger-profile-pic.jpg')
}

.background-gradient {
  // margin-bottom:20rem;
  margin-top: -15rem;
  height:100%;
  width:100%;
  position: absolute;
  z-index:-2;
}

.background-gradient--1 {
  background: linear-gradient(45deg, rgba(255,206,255,1) 0%, rgba(178,190,255,1) 100%);
  clip-path: polygon(
    0 calc(10% - 1vw),
    100% 0,
    100% calc(90% - 1vw),
    0 100%
  );
  height: 60rem;
}

.background-gradient--2 {
  background: linear-gradient(45deg, rgba(130,149,255,1) 0%, rgba(131,211,255,1) 100%);
  /* clip-path: url('/images/2018-refresh/wavy-clip-path.svg'); */
  clip-path: polygon(
    0 0,
    5% 5%,
    10% 0,
    15% 5%,
    20% 0,
    25% 5%,
    30% 0,
    35% 5%,
    40% 0,
    45% 5%,
    50% 0,
    55% 5%,
    60% 0,
    65% 5%,
    70% 0,
    75% 5%,
    80% 0,
    85% 5%,
    90% 0,
    95% 5%,
    100% 0,
    100% 100%,
    95% 95%,
    90% 100%,
    85% 95%,
    80% 100%,
    75% 95%,
    70% 100%,
    65% 95%,
    60% 100%,
    55% 95%,
    50% 100%,
    45% 95%,
    40% 100%,
    35% 95%,
    30% 100%,
    25% 95%,
    20% 100%,
    15% 95%,
    10% 100%,
    5% 95%,
    0 100%
  );
  height: 700px;
  margin-top: 20rem;
  opacity: 0.1;
}

.background-gradient--3 {
  background: var(--green--pale);
  background-image: linear-gradient(var(--green--pale), #CFFFE4);
  border-radius: 50% 50% 0 0;
  box-shadow: 0 -4rem 8rem var(--green--pale);
  height: 500px;
  margin-left: -15%;
  margin-right: -15%;
  top: 0;
  width: 130%;
}

.background-gradient--4 {
  background: #BFA8FF;
  background-image: linear-gradient(#BFA8FF, #909AFF);
  border-radius: 50% 50% 0 0;
  bottom: 0;
  box-shadow: 0 -1rem 20rem #BFA8FF;
  height: 220px;
  margin-left: -15%;
  margin-right: -15%;
  width: 130%;
}

.background-gradient--5 {
  background: linear-gradient(90deg, hsla(59, 100%, 75%, 0.5) 0%, hsla(147, 100%, 75%, 0.5) 100%);
  // background: var(--button--secondary);
  // background: var(--yellow);
  // -webkit-clip-path: polygon(0 0, 100% calc(50% - 1vw), 100% 100%, 0 50%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  height: 52rem;
  // -webkit-clip-path: polygon(50% 20%, 100% 0%, 100% 80%, 50% 100%, 0% 80%, 0% 0%);
  // clip-path: polygon(50% 20%, 100% 0%, 100% 80%, 50% 100%, 0% 80%, 0% 0%);
  // -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  // clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  // -webkit-clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  // clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}


//* IMAGES *//
.img--accent {
  @media screen and (max-width: 500px) {
    opacity: 0.25;
    transition: opacity 0.4s ease;
  }
}
.img--avatar {
  filter: drop-shadow(0 2px 2px hsla(132, 19%, 11%, 0.1));
  margin-right: 0.5rem;
  width: 25px;
}

.img--volunteer-avatar {
  filter: drop-shadow(0 2px 2px hsla(132, 19%, 11%, 0.1));
  margin-right: 1rem;
  margin-top: -0.5rem;
  width: 3.5rem;
}

.img--intro-video {
  transition: all 0.5s ease-in-out;
}

.img--intro-video:hover {
  transform: scale(1.1) rotate(-5deg);
}

//* CARDS *//

.ar-card {
  background: var(--background--secondary);
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: var(--background--secondary);
  }
}

.ar-card.elevation-1 {
  &:hover {
    transform: translateY(-2px);
  }
  &:hover,
  &:focus {
    box-shadow: $elevation-2;
    transition: all 0.3s ease-in-out;
  }
}

.ar-card.elevation-2 {
  &:hover {
    transform: translateY(-5px);
  }
  &:hover,
  &:focus {
    box-shadow: $elevation-3;
    transition: all 0.3s ease-in-out;
  }
}

// .ar-card:hover .background-image,
// .ar-card:focus .background-image {
//   transform: scale(1.2);
//   height: 234px;
// }

.ar-card--xs {
  min-height: 200px;
  max-width: 200px;
  min-width: 200px;
}

.ar-card--sm {
  min-height: 300px;
  max-width: 350px;
  min-width: 300px;
}

.ar-card--md {
  min-height: 300px;
  max-width: 500px;
  min-width: 350px;
  width: 85vw;
}

// .ar-card--full {
//   border-radius: 3rem;
//   min-height: 100%;
//   max-width: 100%;
//   width: 100%;
// }

.ar-card:focus {
  &.ar-card--red {
    background: var(--background--secondary);
    background-image: -webkit-linear-gradient(bottom, hsla(346, 100%, 87%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -moz-linear-gradient(bottom, hsla(346, 100%, 87%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -ms-linear-gradient(bottom, hsla(346, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -o-linear-gradient(bottom, hsla(346, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
  }
  &.ar-card--yellow {
    background: var(--background--secondary);
    background-image: -webkit-linear-gradient(bottom, hsla(59, 100%, 87%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -moz-linear-gradient(bottom, hsla(59, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -ms-linear-gradient(bottom, hsla(59, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -o-linear-gradient(bottom, hsla(59, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
  }
  &.ar-card--green {
    background: var(--background--secondary);
    background-image: -webkit-linear-gradient(bottom, hsla(147, 100%, 87%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -moz-linear-gradient(bottom, hsla(147, 100%, 87%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -ms-linear-gradient(bottom, hsla(147, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -o-linear-gradient(bottom, hsla(147, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
  }

  &.ar-card--blue {
    background: var(--background--secondary);
    background-image: -webkit-linear-gradient(bottom, hsla(185, 100%, 87%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -moz-linear-gradient(bottom, hsla(185, 100%, 87%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -ms-linear-gradient(bottom, hsla(185, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -o-linear-gradient(bottom, hsla(185, 100%, 87%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
  }
  &.ar-card--purple {
    background: var(--background--secondary);
    background-image: -webkit-linear-gradient(bottom, hsla(266, 100%, 90%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -moz-linear-gradient(bottom, hsla(266, 100%, 90%, 0.4) 0%, var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -ms-linear-gradient(bottom, hsla(266, 100%, 90%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
    background-image: -o-linear-gradient(bottom, hsla(266, 100%, 90%, 0.4) 0%,var(--background--secondary) 25%, var(--background--secondary) 100%);
  }
}

.ar-card--project {
  .ar-card__body {
    min-height: 165px;
  }
  // &:hover,
  // &:focus {
  //   box-shadow: $elevation-3;
  //   transform: translateY(-5px);
  //   transition: all 0.3s ease-in-out;
  // }
}

.right-arrow:after {
  background-image: url('https://adamruf.com/images/2018-refresh/right-arrow.svg');
  background-repeat: no-repeat;
  content: "";
  color: hsla(132,31,13,0.4);
  display: inline-block;
  height: 1.2rem;
  opacity: 0;
  transform: translateX(-1rem);
  transition: all .3s ease-in;
  width: 2rem;
}

.ar-card--link {
  &:hover {
    transform: translateY(-5px) !important;
  }
  &:hover,
  &:focus {
    background: var(--background--secondary);
    border: none;
    box-shadow: $elevation-3;
    color: hsla(132,31,13,0.4);
    text-decoration: none;
    transition: all 0.3s ease-in-out !important;
    .right-arrow:after {
      opacity: 1;
      transform: translateX(0.5rem);
    }
  }
  &:focus {
    &.ar-card--link-red { background: var(--red--light); }
    &.ar-card--link-yellow { background: var(--yellow--light); }
    &.ar-card--link-green { background: var(--green--light); }
    &.ar-card--link-blue { background: var(--blue--light); }
  }
}

.ar-card__image-header {
  height: 300px;
  width: 100%;
  @media screen and (max-width: 571px) {
    height: 200px;
  }
}


.ar-card__body {
  color: var(--text);
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.ar-card__heading,
.modal-title {
  color: var(--text);
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.15;
}

.ar-card__heading--md {
  min-height: 7rem;
}

.ar-card__heading--sm {
  font-size: 2.5rem;
  min-height: 9rem;
}

.ar-card__heading--xs {
  font-size: 2.5rem;
}


/* MODALS */
.modal-backdrop { background: hsla(132, 19%, 11%, 1); }

.modal-dialog {
  @media screen and (max-width: 575px) {
    margin: 2rem;
  }
}

.modal-title {
  max-width: 90%;
}

.modal-content {
  background: var(--background--secondary);
  border: none;
  border-radius: 1rem;
  box-shadow: $elevation-4;
}

.modal-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.modal-body {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

// .modal-body__text {
//   color: var(--text--light);
//   font-size: 1.7rem;
//   font-weight: 400;
//   line-height: 28px;
//   margin-bottom: 2rem;
// }

.modal-image--xs {
  width: 100px;
}

.modal-close {
  color: var(--text--light);
  font-size: 2rem;
  &:hover { color: var(--text); }
}

.close { opacity: 0.4; }

.modal-close--red {
  color: var(--red);
  &:hover,
  &:focus {
    color: var(--red);
  }
}

.modal-close--green {
  color: hsla(147, 100%, 68%, 1);
  &:hover,
  &:focus {
    color: hsla(147, 100%, 68%, 1);
  }
}

.modal-close--purple {
  color: var(--purple);
  &:hover,
  &:focus {
    color: var(--purple);
  }
}

.modal-header .close {
    margin: -1rem -1rem -1.5rem auto;
}

/* FIGURES */
.figure-image {
  border-radius: 4rem;
  box-shadow: $elevation-2;
  max-width: 400px;
  width: 100%;
}

.figure-caption {
  background: hsla(132, 19%, 11%, 0.05);
  color: var(--text--light);
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.figure-caption--alt {
  background: hsla(132, 19%, 11%, 0.05);
  color: var(--text--light);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.top-borders-rounded {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom-borders-rounded {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}




/* ICONS */
.ar-icon {display: inline-block;}

.ar-icon--red {color: var(--red);}
.ar-icon--orange {color: var(--orange);}
.ar-icon--gold {color: var(--gold);}
.ar-icon--yellow {color: var(--yellow--dark);}
.ar-icon--green {color: var(--green);}
.ar-icon--blue {color: var(--blue);}
.ar-icon--purple {color: var(--purple);}

.ar-icon--lg {font-size: 4rem; min-width: 5rem;}
.ar-icon--xl {font-size: 5rem; min-width: 6rem;}

/* TODO Create a SASS Helpers loop for generating borders */
// .border-b-red {border-bottom: 10px solid var(--red);}
// .border-b-orange {border-bottom: 10px solid var(--orange);}
// .border-b-yellow {border-bottom: 10px solid var(--yellow);}
// .border-b-green {border-bottom: 10px solid var(}
// .b)order-b-blue {border-bottom: 10px solid var(--blue);}
// .border-b-purple {border-bottom: 10px solid var(--purple);}


.border-b-red:after {
  content:"";
  background: -webkit-linear-gradient(left,var(--red--light) 0%,var(--red) 33%,var(--red) 66%,var(--red--light) 100%);
  display: block;
  height:10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.border-b-orange:after {
  content:"";
  background: -webkit-linear-gradient(left,var(--orange--light) 0%,var(--orange) 33%,var(--orange) 66%,var(--orange--light) 100%);
  display: block;
  height:10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.border-b-yellow:after {
  content:"";
  background: -webkit-linear-gradient(left,var(--yellow--light) 0%,var(--yellow) 33%,var(--yellow) 66%,var(--yellow--light) 100%);
  display: block;
  height:10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.border-b-green:after {
  content:"";
  background: -webkit-linear-gradient(left,var(--green--light) 0%,var(--green) 33%,var(--green) 66%,var(--green--light) 100%);
  display: block;
  height:10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.border-b-blue:after {
  content:"";
  background: -webkit-linear-gradient(left,var(--blue--light) 0%,var(--blue) 33%,var(--blue) 66%,var(--blue--light) 100%);
  display: block;
  height:10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.border-b-purple:after {
  content:"";
  background: -webkit-linear-gradient(left,var(--purple--light) 0%,var(--purple) 33%,var(--purple) 66%,var(--purple--light) 100%);
  display: block;
  height:10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.background-gradient--2 {
  clip-path: polygon(
    0 0,
    10% 5%,
    20% 0,
    30% 5%,
    40% 0,
    50% 5%,
    60% 0,
    70% 5%,
    80% 0,
    90% 5%,
    100% 0,
    100% 100%,
    90% 95%,
    80% 100%,
    70% 95%,
    60% 100%,
    50% 95%,
    40% 100%,
    30% 95%,
    20% 100%,
    10% 95%,
    0 100%
  );
}

.donger {
  font-size: 10vw;
  white-space: nowrap;
  @media screen and (min-width: 900px) {
    font-size: calc(10rem + 1vw);
  }
}

.donger-text {
  @media screen and (max-width: 991px) {
    transform: scale(0.9) translateX(-10rem) translateY(5rem);
  }
  @media screen and (max-width: 400px) {
    transform: scale(0.7) translateX(-6rem) translateY(10rem);
  }
}

/////* HELPERS */////

//* BORDERS *//
.border {
  border-color: var(--border);
  border-style: solid;
  border-width: 1px;
}

.border-top,
.border-left,
.border-right,
.border-bottom {
  border-color: var(--border) !important;
}

.border--rounded-1 {
  border-radius: 1rem;
}

//* POINTERS *//
.cursor--default {
  cursor: default !important;
}

//* SIZING *//
.max-w-100 {
  max-width: 100%;
}

//* SPACING *//
$spaceWhole: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100); // Adjust this to include the pixel amounts you need.
$spaceFraction: (0.5);
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceWhole {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}rem !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}rem !important;
    }
  }

  .m-#{$space} {
    margin: #{$space}rem !important;
  }

  .p-#{$space} {
    padding: #{$space}rem !important;
  }

  .m-x-#{$space} {
    margin-left: #{$space}rem !important;
    margin-right: #{$space}rem !important;
  }

  .p-x-#{$space} {
    padding-left: #{$space}rem !important;
    padding-right: #{$space}rem !important;
  }

  .m-y-#{$space} {
    margin-top: #{$space}rem !important;
    margin-bottom: #{$space}rem !important;
  }

  .p-y-#{$space} {
    padding-top: #{$space}rem !important;
    padding-bottom: #{$space}rem !important;
  }
}

@each $space in $spaceFraction {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-05 {
      margin-#{$side}: #{$space}rem !important;
    }

    .p-#{str-slice($side, 0, 1)}-05 {
      padding-#{$side}: #{$space}rem !important;
    }
  }

  .m-05 {
    margin: #{$space}rem !important;
  }

  .p-05 {
    padding: #{$space}rem !important;
  }

  .m-x-05 {
    margin-left: #{$space}rem !important;
    margin-right: #{$space}rem !important;
  }

  .p-x-05 {
    padding-left: #{$space}rem !important;
    padding-right: #{$space}rem !important;
  }

  .m-y-05 {
    margin-top: #{$space}rem !important;
    margin-bottom: #{$space}rem !important;
  }

  .p-y-05 {
    padding-top: #{$space}rem !important;
    padding-bottom: #{$space}rem !important;
  }
}

.p-y-10, .p-t-10 {
  @media screen and (max-width: 500px) {
    padding-top: 5rem !important;
  }
}

//* IFRAMES *//
iframe {
  border-radius: 3rem;
}

//* WIDTH *//
.full-width {
  width: 100%;
}

/////* ANIMATION */////

@media screen and (max-width: 480px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}

.spin-me {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  &:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  transform-origin: center center;
}

.flip-me {
  -webkit-transition: -webkit-transform .4s ease-in-out;
          transition:         transform .4s ease-in-out;
  &:hover {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
}

.grow-me {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  &:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.skew-me {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  &:hover {
    -webkit-transform: skewY(-40deg);
            transform: skewY(-40deg);
  }
}

/* From animate.css by Daniel Eden -- https://daneden.github.io/animate.css/ */
.animated--1 {
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated--3 {
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated--5 {
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated--10 {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

// @keyframes bounce {
//   from,
//   70%,
//   to {
//     animation-timing-function: cubic-bezier(.89,.43,.16,.95);
//     transform: translate3d(0, 0, 0);
//   }

//   60% {
//     animation-timing-function: cubic-bezier(.99,.01,.59,.85);
//     transform: translate3d(0, -4rem, 0);
//   }
// }

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  75% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.bounceIn {
  // animation-duration: 0.75s;
  animation-name: bounceIn;
}

@keyframes float {
  from {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  // 66% {
  //   transform: translateY(1rem);
  // }
  // 75% {
  //   transform: translateY(1rem);
  // }
  to {
    transform: translateY(1rem);
  }
}

.float {
  animation-name: float;
  transform-origin: center bottom;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes twinkle1 {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.twinkle1 {
  animation-name: twinkle;
}

@keyframes twinkle2 {
  from {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.twinkle2 {
  animation-name: twinkle;
}

@keyframes twinkle3 {
  from {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.twinkle3 {
  animation-name: twinkle;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes opacity-wave {
  0%, 100%   { opacity: 0.1; }
  50%  { opacity: 0.25; }
}

.opacity-wave--1 { animation: opacity-wave 5s infinite }
.opacity-wave--2 { animation: opacity-wave 5s infinite 1s }
.opacity-wave--3 { animation: opacity-wave 5s infinite 2s }