/* MIX-INS */
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


html {
  font-size: 62.5%;
}
body {
  color: #48554A;
  font-family: 'Open Sans', sans-serif;
  @include font-size(16);
  font-weight: 400;
}

.serif {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h1,h2,h3,h4,h5 {
  font-family: Montserrat;
  font-weight: 700;
  /* letter-spacing: -0.05rem; */
}

h1, h2 {
  font-size: 4rem;
  line-height: 1.1;
}

a {
  color: #4D5AE4;
}

a:hover {
  color: #4D5AE4;
}

/* Lists */
.img-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img-bullets--gem {
  background: url('http://adamruf.com/images/2018-refresh/bullet--gem.svg') no-repeat left top / 19px 16px;
  height: 22px;
  line-height: 16px;
  padding-left: 25px;
}

header {
  font-family: Montserrat;
  font-size: 1.6rem;
  /* font-size: 16px; */
  font-weight: 700;
}
header a {
  color: #48554A;
}

.testimonial-message {
  color: #707571;
  font-family: Times, 'Times New Roman', serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.1;
  padding-top: 8rem;
}

.mb-05 {margin-bottom: 0.5rem !important;}
.mb-1 {margin-bottom: 1rem !important;}
.mb-2 {margin-bottom: 2rem !important;}
.mb-3 {margin-bottom: 3rem !important;}
.mb-4 {margin-bottom: 4rem !important;}
.mb-5 {margin-bottom: 5rem !important;}
.mb-6 {margin-bottom: 6rem !important;}
.mb-10 {margin-bottom: 10rem !important;}

.mr-2 {margin-right: 2rem !important;}
.mr-3 {margin-right: 3rem !important;}
.mr-4 {margin-right: 4rem !important;}
.mr-5 {margin-right: 5rem !important;}
.mr-6 {margin-right: 6rem !important;}
.mr-10 {margin-right: 10rem !important;}

.p-05 {padding: 0.5rem !important;}
.p-1 {padding: 1rem !important;}
.p-2 {padding: 2rem !important;}
.p-3 {padding: 3rem !important;}
.p-4 {padding: 4rem !important;}
.p-5 {padding: 5rem !important;}
.p-6 {padding: 6rem !important;}

.pb-10 {padding-bottom: 10rem !important;}
.pl-10 {padding-left: 10rem !important;}
.pr-10 {padding-right: 10rem !important;}
.px-10 {padding-left: 10rem; padding-right: 10rem;}
.py-10 {padding-top: 10rem; padding-bottom: 10rem;}

.px-6 {padding-left: 6rem; padding-right: 6rem;}

.button {
  background-color: #F4F5F6;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 4px 6px rgba(50,78,93,0.11);
  color: #4D5AE4 !important;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  /* min-width: 236px; */
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  transition: all 0.15s ease;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 7px 14px rgba(50,78,93,0.1);
  text-decoration: none;
  transform: translateY(-1px);
}

.button:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 4px 6px rgba(50,78,93,0.11);
  transform: translateY(1px);
}

.button--primary {
  background-color: #4D5AE4;
  color: #fff !important;
  text-shadow: 0 1px 3px rgba(77, 90, 228, 0.44);
}

.ar-alert {
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 4px 6px rgba(50,78,93,0.11);
  color: #707572;
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  max-width: 50rem;
  padding: 2rem;
  transition: all 0.2s ease;
}

.ar-alert:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 7px 14px rgba(50,78,93,0.1);
  cursor: pointer;
  transform: scale(1.025) translateY(-1px);
}

.ar-alert_icon {
  display: inline-block;
  font-size: 4rem;
  margin-right: 1.5rem;
  vertical-align: top;
}

.ar-alert_icon--purple {color: #C496FF;}
.ar-alert_icon--red {color: #FF7F9E;}

.ar-alert_text {
  display: inline-block;
  margin: 0;
  max-width: 400px;
  width: 80%;
}

.ar-alert--purple {background: #F9F4FF;}
.ar-alert--red {background: #FFF3F6;}

.elevation-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 4px 6px rgba(50,78,93,0.11);
}

.elevation-2 {
  box-shadow: 0 5px 15px rgba(0,0,0,0.07), 0 15px 35px rgba(50,78,93,0.1);
}

/* .elevation-3 {
  box-shadow: 0 15px 35px rgba(50,78,93,0.1);
} */

.svg-elevation-1 {
  -webkit-filter:drop-shadow(0 1px 3px rgba(0,0,0,0.08)) drop-shadow(0 4px 6px rgba(50,78,93,0.11));
  filter:drop-shadow(0 1px 3px rgba(0,0,0,0.08)) drop-shadow(0 4px 6px rgba(50,78,93,0.11));
}

.svg-elevation-2 {
  -webkit-filter:drop-shadow(0 5px 15px rgba(0,0,0,0.07)) drop-shadow(0 15px 35px rgba(50,78,93,0.1));
  filter:drop-shadow(0 5px 15px rgba(0,0,0,0.07)) drop-shadow(0 15px 35px rgba(50,78,93,0.1));
}

.svg-shadow--gem {
  -webkit-filter:drop-shadow(-5px 10px 14px rgba(0,0,0,0.09)) drop-shadow(-15 60px 25px rgba(50,78,93, 0.1));
  filter:drop-shadow(-5px 10px 14px rgba(0,0,0,0.09)) drop-shadow(-15px 60px 25px rgba(50,78,93,0.1));
}

.no-overflow-x {
  overflow-x: hidden;
}

.background-image--curved-path-1 {
  background-image: url('http://adamruf.com/images/2018-refresh/curved-path-01.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-image {
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
}

.background-gradient {
  margin-bottom:20rem;
  margin-top: -20rem;
  height:100%;
  width:100%;
  position: absolute;
  z-index:-1;
}

.background-gradient--1 {
  background: linear-gradient(45deg, rgba(255,206,255,1) 0%, rgba(178,190,255,1) 100%);
  clip-path: polygon(
    0 calc(10% - 1vw),
    100% 0,
    100% calc(90% - 1vw),
    0 100%
  );
}

.background-gradient--2 {
  background: linear-gradient(45deg, rgba(130,149,255,1) 0%, rgba(131,211,255,1) 100%);
  /* clip-path: url('/images/2018-refresh/wavy-clip-path.svg'); */
  clip-path: polygon(
    0 0,
    5% 5%,
    10% 0,
    15% 5%,
    20% 0,
    25% 5%,
    30% 0,
    35% 5%,
    40% 0,
    45% 5%,
    50% 0,
    55% 5%,
    60% 0,
    65% 5%,
    70% 0,
    75% 5%,
    80% 0,
    85% 5%,
    90% 0,
    95% 5%,
    100% 0,
    100% 100%,
    95% 95%,
    90% 100%,
    85% 95%,
    80% 100%,
    75% 95%,
    70% 100%,
    65% 95%,
    60% 100%,
    55% 95%,
    50% 100%,
    45% 95%,
    40% 100%,
    35% 95%,
    30% 100%,
    25% 95%,
    20% 100%,
    15% 95%,
    10% 100%,
    5% 95%,
    0 100%
  );
  height: 700px;
  margin-top: 35rem;
  opacity: 0.1;
}

.opacity-100 {
  opacity: 1 !important;
}

@keyframes opacity-wave {
  0%, 100%   { opacity: 0.1; }
  50%  { opacity: 0.25; }
}

.opacity-wave--1 { animation: opacity-wave 5s infinite }
.opacity-wave--2 { animation: opacity-wave 5s infinite 1s }
.opacity-wave--3 { animation: opacity-wave 5s infinite 2s }

.background-pattern {
  height: 100%;
  width: 100%;
}

.background-pattern--dots {
  background-image: url('http://adamruf.com/images/2018-refresh/dot-pattern.svg');
}

.background-pattern--shapes {
  background-image: url('http://adamruf.com/images/2018-refresh/shape-pattern.svg');
}

.background-pattern--shapes-dots {
  background-image: url('http://adamruf.com/images/2018-refresh/shape-pattern.svg'), url('http://adamruf.com/images/2018-refresh/dot-pattern.svg');
}

.background-pattern--shapes-fade {
  background-image: url('http://adamruf.com/images/2018-refresh/fade-to-white.png'), url('http://adamruf.com/images/2018-refresh/shape-pattern-2.svg');
}

.background-pattern--dots {
  background-image: url('http://adamruf.com/images/2018-refresh/dot-pattern.svg');
}

.background-pattern--shapes {
  background-image: url('http://adamruf.com/images/2018-refresh/shape-pattern.svg');
}

.clip-path--2 {
  background: linear-gradient(45deg, rgba(130,149,255,1) 0%, rgba(131,211,255,1) 100%);
  bottom: 0;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%;
}

.clip-path--2__shadow-1 {
  background: linear-gradient(45deg, rgba(130,149,255,0.1) 0%, rgba(131,211,255,0.1) 100%);
  bottom: 3rem;
  clip-path: url(#wavyPath);
  height: 702px;
  width: 100%;
}

.background-image--shapes-1 {
  background-image: url('http://adamruf.com/images/2018-refresh/shape-pattern.svg');
  background-position: left top;
  background-repeat: repeat;
  background-size: cover;
}


.img--intro-video {
  transition: all 0.5s ease;
}

.img--intro-video:hover {
  transform: scale(1.1) rotate(-5deg);
}

.ar-card {
  background: #fff;
  border-radius: 1rem;
  padding: 0;
}

.ar-card--project-thumb {
  height: 400px;
  max-width: 500px;
  width: 500px;
}

.ar-card__body {
  padding: 4rem;
}

.ar-card__heading {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.border-b-blue {border-bottom: 10px solid #7FF6FF;}
.border-b-green {border-bottom: 10px solid #7FFFB9;}
.border-b-red {border-bottom: 10px solid #FF7F9E;}
.border-b-yellow {border-bottom: 10px solid #FFFD7F;}


/* Styles that allow top nav to scroll */
@media (max-width: 500px) {
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem;
  }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .background-gradient--2 {
    clip-path: polygon(
      0 0,
      10% 5%,
      20% 0,
      30% 5%,
      40% 0,
      50% 5%,
      60% 0,
      70% 5%,
      80% 0,
      90% 5%,
      100% 0,
      100% 100%,
      90% 95%,
      80% 100%,
      70% 95%,
      60% 100%,
      50% 95%,
      40% 100%,
      30% 95%,
      20% 100%,
      10% 95%,
      0 100%
    );
  }
}