@import "_colors.scss";
@import "_typography.scss";
@import "_buttons.scss";
@import "_navbar.scss";
@import "_helpers.scss";
@import "_accordions.scss";
@import "_modals.scss";
@import "_tooltips.scss";
@import "_utility-belt.scss";
@import "_animations.scss";

body {
  background: $white url('http://adamruf.com/images/barely-there-grid-by-adam-ruf.png') left top;
  color: $font-default;
  @include base-font;
  font-size: 18px;
  line-height: 1.55em;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* - - - - - - - - - - - - - - - - - - - - *\
HOMEPAGE
\* - - - - - - - - - - - - - - - - - - - - */

#hero {
  // background-image: url('//adamruf.com/images/kawaii-ux-pyramid.svg');
  // background-position: center bottom;
  // background-repeat: no-repeat;
  // background-size: 300px;
  // padding-bottom: 4em;
  .hero-unit {
    h1 {
      color: darken($green, 10%);
      @include slab-font;
      font-size: 3em;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 1.1em;
      text-transform: none;
      word-spacing: 0;
    }
    h2 {
      color: #777;
      @include base-font;
      font-size: 2em;
      font-weight: 300;
      letter-spacing: -1px;
      margin-bottom: 1.15em;
      text-transform: none;
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - *\
PORTFOLIO
\* - - - - - - - - - - - - - - - - - - - - */

.recent-work {
  padding-top: 1em;
  transition: background 0.5s, border-color 0.5s;
  h2 {
    line-height: 1em;
    margin-top: 0.35em;
    margin-bottom: 0.3em;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
    i.tipped {
      font-size: 0.5em;
    }
  }
  i.tipped {
    border: none;
    opacity: 0.5;
    font-size: 0.75em;
    padding-right: 0.25em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
  h3 {
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
}

.portfolio-icons {
  display: block;
  margin-bottom: 0.25em;
}

a.img-link {
  display: block;
  position: relative;
  text-decoration: none;
}

a.img-link:before {
  background: $green;
  border-radius: 0 0 0 10px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.25);
  color: $white;
  content: ' View Site';
  display: block;
  @include icon-font;
  font-size: 1.5em;
  opacity: 0;
  padding: 0.5em 0.3em 0.5em 0.4em;
  position: absolute;
  top: 11px;
  right: 11px;
  z-index: 2;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.img-thumbnail {
  padding: 10px;
  position: relative;
}

a.img-link:hover:before {opacity: 1;}

/* - - - - - - - - - - - - - - - - - - - - *\
RECOMMENDED RESOURCES
\* - - - - - - - - - - - - - - - - - - - - */

.book-cover {margin-bottom: 1em;}

.resources {
  font-size: 1em;
  margin: 1em auto;
  border-top: 7px solid rgba(238, 238, 238, 0.33);
  padding: 9px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
  &:hover {
    background: rgba(95, 207, 128, 0.1);
    border-color: #5fcf80;
  }
}

.full-title {font-size: 18px;}

#resources {
  a:hover, a:active {
    color: darken($green, 15%);
    text-decoration: none;
  }
  cite, p {
    color: $font-default;
  }
  p {
    margin-bottom: 1em;
  }
}

/* - - - - - - - - - - - - - - - - - - - - *\
ABOUT
\* - - - - - - - - - - - - - - - - - - - - */

#adam-photo {
  height: 275px;
  position: relative;
  @media screen and (max-width: 991px) {
    display: none;
  }
}

#profile-pic, #profile-pic-bw {
  border: 10px solid #d6f3df;
  border-radius: 50%;
  max-height: 250px;
  position: absolute;
  top: 0;
  left: 13%;
}

#profile-pic {
  z-index: 1;
}

#profile-pic-bw {
  z-index: 2;
  transition: opacity 1.5s ease-in-out;
  &:hover {
    opacity: 0;
  }
}

ul.progress-bar ul {
  margin-left: 0;
  li {
    list-style: none;
  }
}

.progress {
  background-color: fade-out($green, 0.75);
  box-shadow: none;
  height: 35px;
}

.progress-bar {
  box-shadow: none;
  p {
    color: $white;
    font-size: 1.618em;
    margin-left: 1em;
    padding: 0.3em 0;
    text-align: left;
    text-shadow: none;
  }
}

.progress-bar-success {
  background-color: $green;
}

.label-info {
  background: $green;
  font-size: 1em;
  margin-left: 0.25em;
  padding: 0.3em;
  text-shadow: none;
}

.list-flush-left {
  list-style-position: inside;
  padding-left: 0;
}

/* - - - - - - - - - - - - - - - - - - - - *\
404
\* - - - - - - - - - - - - - - - - - - - - */

.js--404 {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

/* - - - - - - - - - - - - - - - - - - - - *\
FOOTER
\* - - - - - - - - - - - - - - - - - - - - */

footer {
  background: $black;
  padding: 2em 0 1em;
  p {
    color: $font-light-subtle;
    font-size: 0.8em;
  }
  #footer-connect {
    font-size: 2rem;
    margin-left: 0.5em;
    position:relative;
  }
  a {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: $font-light-subtle;
    display: inline-block;
    transition: all 0.3s ease-out;
    width: 1.4em;
    &:hover, &:active, &:focus {
      background-color: #5FCF80;
      color: $font-light-default;
      outline: 0;
      box-shadow: none;
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }
  &.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

/* - - - - - - - - - - - - - - - - - - - - *\
FOCUS & SELECTION
\* - - - - - - - - - - - - - - - - - - - - */

input:active, input:focus, textarea:active, textarea:focus, span.radio-labels:focus {
  outline: 4px solid $green;
  background: $white !important;
  color: darken($green, 15%) !important;
}
::selection {
  background: rgba(124, 189, 135, 0.25); /* Safari */
  }
::-moz-selection {
  background: rgba(124, 189, 135, 0.25); /* Firefox */
}