@import "_colors.scss";
@import "_typography.scss";
@import "_buttons.scss";
@import "_call-outs.scss";
@import "_navbar.scss";
@import "_helpers.scss";
@import "_accordions.scss";
@import "_modals.scss";
@import "_tooltips.scss";
@import "_utility-belt.scss";
@import "_animations.scss";
@import "_banner.scss";

body {
  background: $white url('http://adamruf.com/images/grid-pattern@2x.png') left top;
  color: $font-default;
  @include base-font;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* - - - - - - - - - - - - - - - - - - - - *\
HOMEPAGE
\* - - - - - - - - - - - - - - - - - - - - */

.hero-unit {
  h1 {
    color: darken($green, 10%);
    @include slab-font;
    font-size: 4.5rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: none;
    word-spacing: 0;
    @media screen and (max-width: 523px) {
      font-size: 4rem;
    }
  }
  h2 {
    color: #777;
    @include base-font;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.15em;
    text-transform: none;
  }
}

.hero-img {
  margin-top: -2rem;
}

.max-img-w {
  max-width: calc(20rem + 25vw);
}

// #hierarchy-of-user-needs {
//   position: relative;
//   top: -5vw;
//   z-index: -1;
// }

[title="SumoMe"] {
  cursor: default;
  opacity: 0 !important;
}

.bg--purple {
  background-color: $purple-dark;
}

.bg--twitch-content {
  background:
    /* top, transparent $purple-dark, faked with gradient */
    linear-gradient(
      transparentize($purple-dark, 0.5),
      transparentize($purple-dark, 0.5)
    ),
    /* bottom, image */
    url('http://adamruf.com/images/streaming-design-on-twitch-bg.jpg');
}

#twitch-embed {
  box-shadow: 0 0.5rem 5rem darken($purple-dark,20%);
  margin: 0 auto;
  height: 47.8rem;
  width: 85rem;
}

#js-player-offline-recommendations-overlay {
  display: none !important;
}

.ux-trophy-banner {
  margin-bottom: -2rem;
  margin-top: 4rem;
  max-width: 700px;
  min-width: 330px;
  width: 100%;
}

@keyframes float {
  0% {transform: translateY(0px)}
  50% {transform: translateY(-20px)}
  100% {transform: translateY(0px)}
}

.float {
  animation: float 5s ease-in-out infinite;
}

.selected-writing {
  li h4 {
    letter-spacing: -0.0075em;
    margin-top: 0;
    a {font-weight: 600;}
  }
}

/* - - - - - - - - - - - - - - - - - - - - *\
PORTFOLIO
\* - - - - - - - - - - - - - - - - - - - - */

.recent-work {
  padding-top: 1em;
  transition: background 0.5s, border-color 0.5s;
  h2 {
    line-height: 1em;
    margin-top: 0.35em;
    margin-bottom: 0.3em;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
    i.tipped {
      font-size: 0.5em;
    }
  }
  i.tipped {
    border: none;
    opacity: 0.5;
    font-size: 0.75em;
    padding-right: 0.25em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
}

.portfolio-icons {
  display: block;
  margin-bottom: 0.25em;
}

a.img-link,
a.img-link:hover,
a.img-link:active,
a.img-link:focus,
a.whats-new-img-link,
a.whats-new-img-link:hover,
a.whats-new-img-link:active,
a.whats-new-img-link:focus {
  border: none;
  box-shadow: none;
  display: block;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  transition: 0.2s ease-in-out;
}

a.img-link {
  border-radius: 0.4rem;
  &:hover {
    box-shadow: 0 15px 30px 0 rgba(23,55,87,.1), 0 5px 10px 0 rgba(0,0,0,.07);
    transform: scale(1.025);
  }
}

.img-thumbnail {
  padding: 0;
  position: relative;
}

.whats-new-img {
  margin: 0 auto;
  max-width: 150px;
}

/* - - - - - - - - - - - - - - - - - - - - *\
RECOMMENDED RESOURCES
\* - - - - - - - - - - - - - - - - - - - - */

.book-cover {margin-bottom: 1em;}

.resources {
  font-size: 1em;
  margin: 1em auto;
  border-top: 7px solid rgba(238, 238, 238, 0.33);
  padding: 9px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
  &:hover {
    background: rgba(95, 207, 128, 0.1);
    border-color: #5fcf80;
  }
}

.full-title {font-size: 18px;}

li.resource {
  border-radius: 0.25em;
  h4 {
    font-weight: 600;
    letter-spacing: -0.0075em;
    margin-bottom: 0;
  }
  p {margin-bottom: 0;}
  a, a:hover, a:active, a:focus {
    box-shadow: none;
    display: block;
    padding: 0.05em 1em 0.5em;
    text-shadow: none;
  }
  a:hover, a:active, a:focus {
    background-color: rgba(95, 207, 128, 0.1);
    border: none;
  }
  a p, a:hover p {
    color: rgba(0,0,0,0.75);
  }
  .tag {
    border: 1px solid #bbb;
    border-radius: 0.25em;
    color: #999;
    font-size: 1.3rem;
    padding: 0.15em 0.35em;
  }
}

/* - - - - - - - - - - - - - - - - - - - - *\
ABOUT
\* - - - - - - - - - - - - - - - - - - - - */

.adam-photo-large img {
  border-radius: 2rem;
  max-width: 75%;
}

.adam-photo-small img {
  width: 100%;
}

ul.progress-bar ul {
  margin-left: 0;
  li {
    list-style: none;
  }
}

.progress {
  background-color: transparent;
  box-shadow: none;
  height: 35px;
}

.progress-bar {
  border-radius: 4px;
  box-shadow: none;
  p {
    color: $white;
    font-size: 2.1rem;
    line-height: 1.6;
    margin-left: 1rem;
    padding: 0;
    text-align: left;
    text-shadow: none;
  }
}

.progress-bar-success {
  background-color: $green;
}

.label-info {
  background: $green;
  font-size: 1em;
  margin-left: 0.25em;
  padding: 0.3em;
  text-shadow: none;
}

.list-flush-left {
  list-style-position: outside;
  padding-left: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - *\
404
\* - - - - - - - - - - - - - - - - - - - - */

.js--404 {
  cursor: pointer;
  position: relative;
}

/* - - - - - - - - - - - - - - - - - - - - *\
FOOTER
\* - - - - - - - - - - - - - - - - - - - - */

footer {
  background: $black;
  padding: 2em 0 1em;
  p {
    color: $font-light-subtle;
    font-size: 0.8em;
  }
  #footer-connect {
    font-size: 2rem;
    margin-left: 0.5em;
    position:relative;

    a {
      background-color: transparent;
      border: none;
      border-radius: 0.3rem;
      color: $font-light-subtle;
      display: inline-block;
      transition: all 0.3s ease-out;
      width: 3rem;
      &:hover, &:active, &:focus {
        background-color: $green;
        color: $font-light-default;
        outline: 0;
        box-shadow: none;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
      }
    }
  }

  &.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

/* - - - - - - - - - - - - - - - - - - - - *\
FOCUS & SELECTION
\* - - - - - - - - - - - - - - - - - - - - */

input:active, input:focus, textarea:active, textarea:focus, span.radio-labels:focus {
  outline: 4px solid $green;
  background: $white !important;
  color: darken($green, 15%) !important;
}
::selection {
  background: $font-default; /* Safari */
  box-shadow: none;
  color: $white;
  text-shadow: none;
}
::-moz-selection {
  background: $font-default; /* Firefox */
  box-shadow: none;
  color: $white;
  text-shadow: none;
}
